<swiper [config]="config" [breakpoints]="breakpoints">
  <ng-container *ngFor="let slide of slides; index as i">
    <ng-template swiperSlide>
      <div class="bet-colored-circle">{{slide.name}}</div>
    </ng-template>
  </ng-container>
  <div class="swiper-pagination" slot="pagination"></div>
</swiper>
