.place-bet-slider {
    width: 100%;
    float: left;
    margin-bottom: 0px;
    position: relative;
}

.bet-colored-circle {
    width: 76px;
    height: 78px;
    background-image: url("/assets/images/bet-circle-1.svg");
    display: flex;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-repeat: no-repeat;
    justify-content: center;
    text-align: center;
    color: #020A0F;
    margin: 0;
    padding: 0;
    align-items: center;
    @media (max-width: 991px) {
        margin: 0 auto;
    }
}