<div class="header uper-wrap d-flex align-items-center justify-content-between">
    <div class="logo text-left">
        <img src="assets/images/night-logo.svg">
    </div>
    <div class="d-flex align-items-center justify-content-end font-futura-medium">
        <div class="top-card" ngbDropdown>
            <span class="p-card"></span>
            <p>99,990.00</p>

            <button class="dropdown-btn" id="dropdownBasic1" ngbDropdownToggle>
                <img src="/assets/images/dropdown-icon.svg" />
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <div class="dropdown-inner d-flex flex-column p-3">
                    <ul>
                        <li class="active mb-3">
                            <a href="#" class="font-futura-medium">Profile</a>
                        </li>
                        <li class="mb-3">
                            <a href="#" class="font-futura-medium">Round History</a>
                        </li>
                        <li class="mb-3">
                            <a href="#" class="font-futura-medium">Transaction Report</a>
                        </li>
                        <li class="mb-3">
                            <a href="#" class="font-futura-medium">Change password</a>
                        </li>
                    </ul>

                    <div class="mode-change-button d-flex flex-row justify-content-between py-3 align-items-center">
                        <p class="font-futura-medium mb-0 p-0">Day Mode</p>

                        <div class="switch-toggle">
                            <label class="switch">
                                <input [checked]="isDayMode" type="checkbox" (change)="handleDisplayMode($event)"/>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>

                    <div class="mode-change-button d-flex flex-row justify-content-between pt-3 align-items-center">
                        <ul>
                            <li class=" mb-0 pb-0">
                                <a href="#" class="font-futura-medium">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>