.header.uper-wrap {
    padding: 0 15px;
    height: 50px;
    background-color: #071c28;
    position: relative;
    @media (max-width: 576px) {
        height: 40px;
    }
}

.logo {
    margin-top: 0;
    img {
        width: 320px;
        @media (max-width: 1199px) {
            width: 222px;
            height: 38px;
        }
        @media (max-width: 576px) {
            width: 150px;
        }
    }
}

.top-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    font-size: 24px;
    color: #ffffff;
    @media (max-width: 767px) {
        font-size: 12px;
        align-items: center;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
        font-size: 16px;
        align-items: center;
    }
    .p-card {
        width: 40px;
        height: 30px;
        position: relative;
        top: 5.8px;
        background-size: contain;
        @media (max-width: 767px) {
            width: 15px;
            height: 11px;
            background-size: cover;
            top: 0px;
        }
        @media (min-width: 768px) and (max-width: 1199px) {
            width: 30px;
            height: 20px;
            background-size: cover;
            top: 0px;
        }
    }
    p {
        padding: 0 17px;
        margin-bottom: 0;
        @media (max-width: 767px) {
            margin-bottom: 0;
        }
    }
    .dropdown-btn {
        border: none;
        padding: 0;
        background-color: transparent;
        &:after {
            display: none;
        }
        @media (max-width: 767px) {
            img {
                width: 24px;
            }
        }
    }
    .dropdown-menu {
        background: linear-gradient(180deg, rgba(16, 46, 64, 0.97) 0%, rgba(17, 39, 51, 0.97) 100%);
        box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.5);
        width: 322px;
        left: calc(0px + 14.5px) !important;
        position: fixed;
        border: none;
        color: #EFEFEF;
        @media (max-width: 575px) {
            width: 250px;
        }
        ul {
            padding-left: 0;
            margin-bottom: 0;
            li {
                list-style: none;
                &.active {
                    a {
                        color: #DEFF82;
                        font-weight: bold;
                    }
                }
                a {
                    font-size: 16px;
                    line-height: 18px;
                    color: #EFEFEF;
                    &:hover {
                        text-decoration: none;
                        color: #DEFF82;
                    }
                }
            }
        }
        .mode-change-button {
            border-top: 1px solid #C4C4C4;
        }
    }
}

:host-context(body.day-mode) {
    .dropdown-menu {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.97) 0%, rgba(255, 255, 255, 0.97) 100%);
        ul {
            padding-left: 0;
            margin-bottom: 0;
            li {
                list-style: none;
                &.active {
                    a {
                        color: #071C28;
                    }
                }
                a {
                    color: #071C28;
                    &:hover {
                        text-decoration: none;
                        color: #071C28;
                    }
                }
            }
        }
        .mode-change-button {
            color: #071C28;
            border-color: #071C28;
        }
    }
}