.video-card-section img {
    width: 35px;
    @media (max-width: 575px) {
        width: 20px;
    }
    @media (max-width: 767px) {
        width: 30px;
    }
}

.card-animation-box {
    width: 43px;
    height: 55px;
    margin: 0px;
    @media (max-width: 575px) {
        width: 20px;
        height: 30px;
        margin: 1px;
    }
    @media (max-width: 767px) {
        width: 35px;
        height: 45px;
        margin: 1px;
    }
}

.your-choice-layer {
    z-index: 9;
}

.your-choice-bg {
    background-image: url("/assets/images/your-choice-bg.svg");
    width: 100%;
    height: 120px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    background-color: rgba(7, 28, 40, 0.9);
    z-index: 1;
}

.silver-btn {
    span {
        color: #071C28;
    }
}

.gold-btn {
    span {
        color: #071C28;
    }
}

.place-bet {
    .place-bet-top {
        .back-box {
            background-color: #EFD57B;
            color: #071C28;
        }
    }
}

.game-loser {
    img {
        height: 55px;
    }
}

.result-button {
    border-radius: 100px;
    color: #071C28;
    font-size: 10px;
    width: 71px;
    height: 18px;
}