.video-card-section img {
    width: 35px;
    @media (max-width: 575px) {
        width: 20px;
    }
    @media (max-width: 767px) {
        width: 30px;
    }
}

.card-animation-box {
    width: 43px;
    height: 55px;
    margin: 0px;
    @media (max-width: 575px) {
        width: 20px;
        height: 30px;
        margin: 1px;
    }
    @media (max-width: 767px) {
        width: 35px;
        height: 45px;
        margin: 1px;
    }
}

.your-choice-layer {
    z-index: 9;
}

.your-choice-bg {
    background-image: url("/assets/images/your-choice-bg.svg");
    width: 100%;
    height: 120px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    background-color: rgba(7, 28, 40, 0.9);
    z-index: 1;
}

.button-img {
    button {
        height: 80px;
        font-size: 16px;
    }
}

.curve-btns {
    button {
        width: 50%;
        border-radius: 100px;
        height: 63px;
        font-size: 18px;
        &:hover {
            box-shadow: none;
            border-color: transparent;
        }
        &.marjanda-btn {
            width: calc(50% + 50px);
        }
        &.dark-three-gardent4 {
            position: absolute;
            right: 0;
        }
    }
}

.span-color {
    color: #0d4c60;
}

.game-btns-box {
    &.color-black {
        .first-btn-row {
            button {
                min-height: 90px;
            }
        }
    }
}

.btn-border {
    position: relative;
    padding: 10px 0;
    &:after {
        position: absolute;
        right: 5px;
        bottom: 10px;
        content: "";
        background-image: url("/assets/images/tiger.svg");
        width: 54px;
        height: 20px;
        background-size: contain;
    }
}

.place-bet {
    .place-bet-top {
        .back-box {
            background-color: #49325C;
        }
    }
}

.game-result-box-mid {
    background-image: url("/assets/images/dragon-large.svg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 205px;
}

.drogen-font-12 {
    font-size: 12px;
}