<div class="full-wrapper night-mode">
    <div class="dots-topleft"></div>
    <div class="dots-topright"></div>
    <div class="dots-bottomleft"></div>
    <div class="dots-bottomright"></div>

    <div class="container login-form-setting">
        <div class="row">
            <div class="col-md-12">
                <div class="logo text-center">
                    <a href="#">
                        <img src="assets/images/night-logo.svg" class="web-logo" />
                        <img src="assets/images/night-logo-mobile.svg" class="mobile-logo" />
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-6 order-sm-2 order-2 order-md-2 order-lg-1">
                <div class="casino-logo">
                    <img src="assets/images/cusino-logo.svg" />
                </div>
            </div>

            <div class="col-md-12 col-lg-6 order-sm-1 order-1 order-md-1 order-lg-2">
                <div class="home-form">
                    <form>
                        <div class="form-group">
                            <span class="profile-icon"></span>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="User" />
                        </div>
                        <div class="form-group">
                            <span class="close-eye"></span>
                            <input type="password" class="form-control " id="exampleInputPassword1" placeholder="Password" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="genral-btn mx-auto">Sign In</button>
                        </div>
                    </form>
                </div>
                <div class="dont-account">
                    <p>Don’t have an account already?</p>
                    <a href="#">Sign Up</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-reverse">
        <div class="icon-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="icon-bx-outer">
                            <div class="icon-bx">
                                <img src="assets/images/heart-icon.svg" />
                            </div>
                            <div class="icon-bx">
                                <img src="assets/images/four-cornerblack.svg" />
                            </div>
                            <div class="icon-bx">
                                <img src="assets/images/leaf.svg" />
                            </div>
                            <div class="icon-bx">
                                <img src="assets/images/icon3.svg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copy-text">
                        <img src="assets/images/copy.svg" />
                        <p class="font-medium">
                            Supernowa is an online platform to play, bet and win on live casino games with live dealers across the world. We are providing the best online solution to deal with the games of your choice. The powerful system of supernowa is active 365 days 24*7 for
                            the most realistic and safe gaming experience
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>