.full-wrapper {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    @media (max-width: 991px) {
        justify-content: space-between;
        height: 100%;
    }
    @media (max-width: 767px) {
        height: 100vh;
    }
}

.night-mode {
    background-color: #071c28;
}

.logo {
    margin-top: 150px;
    @media (max-width: 767px) {
        margin-top: 130px;
    }
    @media (max-width: 1199px) {
        margin-top: 70px;
    }
    @media (min-width: 1200px) {
        margin-top: 70px;
    }
}

.casino-logo {
    margin-top: 85px;
    @media (max-width: 767px) {
        margin-top: 0;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        width: 326px;
        margin: 0px auto 0;
    }
    img {
        width: 70%;
        @media (max-width: 767px) {
            width: 128px;
            position: absolute;
            top: -165px;
            @media (max-width: 575px) {
                top: calc(100% - 165px);
            }
        }
        @media (min-width: 768px) and (max-width: 991px) {
            width: 336px;
        }
    }
}

.home-form {
    width: 100%;
    margin-top: 80px;
    @media (max-width: 767px) {
        margin-top: 33px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        margin: 65px auto 0;
    }
    .form-group {
        margin-bottom: 15px;
        position: relative;
    }
    .form-control {
        height: 43px;
        border-color: transparent;
        border-radius: 10px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #deff82;
        padding: 4px 50px 0 25px;
        background: linear-gradient(180deg, rgba(16, 46, 64, 0.8) 0%, rgba(17, 39, 51, 0.8) 100%);
        box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.5);
        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #ffffff;
        }
        &::-moz-placeholder {
            /* Firefox 19+ */
            color: #ffffff;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            color: #ffffff;
        }
        &:-moz-placeholder {
            /* Firefox 18- */
            color: #ffffff;
        }
        &:focus {
            border-color: #deff82;
            color: #F4F4F4;
            box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 2px 3px rgba(0, 0, 0, 0.5);
            background-color: linear-gradient(180deg, rgba(16, 46, 64, 0.8) 0%, rgba(17, 39, 51, 0.8) 100%);
        }
    }
    .genral-btn {
        width: 215px;
        height: 48px;
        background: linear-gradient(180deg, #DEFF82 0%, #BEDA71 100%);
        color: #071c28;
        border-radius: 10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: "Futura";
        font-weight: 500;
        font-size: 24px;
        @media (max-width: 767px) {
            width: 128px;
            height: 48px;
            font-size: 18px;
            float: right;
        }
    }
}

.dont-account {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    margin: 15px 0 40px;
    font-family: "Roboto", sans-serif;
    line-height: normal;
    @media (max-width: 767px) {
        font-size: 12px;
        display: flex;
        flex-flow: column;
        text-align: right;
        width: 100%;
        margin: 0 0 40px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        font-size: 12px;
    }
    a {
        font-size: 22px;
        font-family: "Futura";
        font-weight: bold;
        color: #deff82;
        @media (max-width: 767px) {
            font-size: 18px;
            margin-top: 9px;
        }
        @media (min-width: 768px) and (max-width: 991px) {
            font-size: 24px;
        }
    }
    p {
        margin-bottom: 5px;
        font-size: 18px;
        @media (max-width: 767px) {
            margin-left: 67%;
            margin-top: 27px;
            min-height: 28px;
        }
    }
}

.icon-wrap {
    background-color: #deff82;
    width: 100%;
    padding: 15px 0;
    border-bottom: 22px solid #f3f3f3;
    .icon-bx-outer {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        .icon-bx {
            width: 25%;
            align-items: center;
            justify-content: center;
            display: flex;
            img {
                width: 71px;
                @media (max-width: 767px) {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
    @media (max-width: 991px) {
        border-bottom: 7px solid #f3f3f3;
    }
}

.grey-bx {
    width: 100%;
    height: 22px;
    background-color: #f3f3f3;
    display: flex;
    @media (max-width: 767px) {
        display: none;
    }
}

.dots-topright {
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("/assets/images/dots-tr.svg");
    width: 649px;
    height: 626px;
    @media (max-width: 767px) {
        width: 297px;
        height: 297px;
        background-image: url("/assets/images/dots-tr-mobile.svg");
    }
}

.dots-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("/assets/images/dots-bl.svg");
    width: 660px;
    height: 660px;
    @media (max-width: 767px) {
        width: 297px;
        height: 297px;
        background-image: url("/assets/images/dots-bl-mobile.svg");
    }
}

.genral-btn {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-family: "Futura";
    font-weight: bold;
    border: 1px solid transparent;
    letter-spacing: 2px;
}

.profile-icon {
    background-image: url("/assets/images/profile.svg");
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 8px;
    width: 34px;
    height: 34px;
    background-position: center;
}

.close-eye {
    background-image: url("/assets/images/close-eye.svg");
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 8px;
    width: 34px;
    height: 34px;
    background-position: center;
}

.font-normal {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.font-medium {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.copy-text {
    text-align: center;
    color: #ffffff;
    padding: 65px 135px;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    @media (max-width: 767px) {
        padding: 0 0 23px;
        font-weight: 500;
    }
    @media (max-width: 991px) {
        padding: 75px 0;
    }
    @media (max-width: 1199px) {
        padding: 40px 0;
    }
    .font-medium {
        font-size: 13px;
        @media (max-width: 767px) {
            font-size: 12px;
        }
    }
    p {
        margin-bottom: 0;
        margin-top: 8px;
    }
    img {
        @media (max-width: 767px) {
            width: 300px;
        }
    }
}

.col-reverse {
    position: relative;
    @media (max-width: 991px) {
        display: flex;
        flex-flow: column-reverse;
        height: auto
    }
    @media (min-width: 1200px) {
        max-height: 35vh;
    }
}

.login-form-setting {
    @media (min-width: 1200px) {
        max-height: 65vh;
    }
}

.mobile-logo {
    display: none;
}

@media (max-width: 991px) {
    .web-logo {
        display: none;
    }
    .mobile-logo {
        display: inline-block;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .mobile-logo {
        width: 390px;
    }
}