.video-card-section img {
    width: 36px;
    @media (max-width: 767px) {
        width: 30px;
    }
    @media (max-width: 575px) {
        width: 20px;
    }
}

.card-animation-box {
    width: 43px;
    height: 65px;
    margin: 0px;
    @media (max-width: 767px) {
        width: 35px;
        height: 45px;
        margin: 1px;
    }
    @media (max-width: 575px) {
        width: 20px;
        height: 30px;
        margin: 1px;
    }
}

.your-choice-layer {
    z-index: 9;
}

.your-choice-bg {
    background-image: url("/assets/images/your-choice-bg.svg");
    width: 100%;
    height: 120px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    background-color: rgba(7, 28, 40, 0.9);
    z-index: 1;
}

.player-card-circle {
    width: 18px;
    height: 18px;
    background-color: #d3f37c;
    border-radius: 50%;
    font-size: 8px;
    color: #0A1E29;
    @media (max-width: 575px) {
        width: 10px;
        height: 10px;
        font-size: 6px;
    }
}

.player-circle-wrap {
    margin-bottom: 8px;
    @media (max-width: 575px) {
        margin-bottom: 0;
    }
}

.player-card-row {
    justify-content: flex-start;
    @media (max-width: 767px) {
        justify-content: center;
    }
}