::ng-deep #playerDiv {
  width: 100%;
  overflow: hidden !important;
  position: relative !important;
  background-color: rgba(0, 0, 0, 0) !important;
  padding: 0 0 52%;
  display: block;
  video {
    width: 100% !important;
    height: auto !important;
    @media (max-width: 991px) {
      margin-left: 0px !important;
      width: calc(100% - 0px) !important;
    }
  }
  @media (min-width: 1301px) {
    padding: 0 0 66vh;
    max-height: calc(66vh - 0px) !important;
  }
  // @media (max-width: 1125px) {
  //     width: 100% !important;
  //     // padding: 0 0px 56% 0px !important;
  // }

  // @media (min-width: 1126px) and (max-width: 1199px){
  //     padding: 0 0 54vh;
  //     max-height: calc(54vh - 0px) !important;
  // }
  // @media (min-width: 1201px) {
  //     padding: 0 0 54vh;
  //     max-height: calc(54vh - 0px) !important;
  // }
}

::ng-deep #controls-playerDiv {
  width: auto !important;
  display: flex !important;
  height: 8% !important;
  max-height: 96.875px !important;
  position: absolute !important;
  left: 0px !important;
  bottom: 0px !important;
  z-index: 1 !important;
  background-color: rgba(255, 255, 255, 0.4) !important;
  #playpause-controls-playerDiv,
  #time-controls-playerDiv,
  #fullscreen-controls-playerDiv {
    display: none !important;
  }
  @media (max-width: 991px) {
    margin-left: 0px !important;
  }
}

::ng-deep #middleView-playerDiv {
  #audio-playerDiv {
    display: none !important;
  }
}
