// .black-jack-wrap {
//     background-image: url(/assets/images/black-jack-bg.svg);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
.full-wrapper {
    background-image: url(/assets/images/black-jack-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.progress-bar-wrap {
    max-width: 540px;
    position: relative;
    min-width: 540px;
    border-radius: 20px;
}

.black-jack-logo {
    z-index: 1;
}

.progress-bar-inner {
    background: linear-gradient(180deg, #73B8F9 0%, #7EB8EE 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    height: 60px;
    position: relative;
    &:after {
        position: absolute;
        top: -128px;
        left: 0%;
        width: 539px;
        height: 152px;
        content: "";
        background-image: url("/assets/images/logo-curve.svg");
        background-repeat: no-repeat;
    }
    p {
        z-index: 2;
    }
    .progress {
        height: 22px;
        background: #FFF5F5;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
}

::ng-deep.progress-bar {
    background: linear-gradient(224.73deg, #FF149D 8.89%, #950E46 94.31%) !important;
}

.cards-wraps {
    width: 210px;
    @media (max-width: 767px) {
        padding-top: 80px;
    }
}

.card-animation-box {
    width: calc(33.33% - 7px);
    min-height: 87px;
    margin-bottom: 30px;
    img {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 4px;
    }
}

.flip-card {
    span {
        position: absolute;
        right: -16px;
        top: 50%;
        width: 32px;
        height: 32px;
        border: 3px solid #011C42;
        border-radius: 50%;
        background: linear-gradient(155.96deg, #FFF131 -0.4%, #C2F752 19.41%, #98F380 47.14%, #5BFEB5 63.87%, #00FFE5 80.6%);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        color: #4F008C;
        font-size: 12px;
        z-index: 1;
        transform: translateY(-50%);
    }
}

.black-jack-btn {
    width: 160px;
    height: 66px;
    margin-bottom: 15px;
}

.black-jack-wrap-inner {
    padding-left: 15px;
    padding-right: 15px;
    height: calc(100vh - 81px);
    @media (max-width: 575px) {
        height: calc(100vh - 71px);
    }
    @media (min-width:576px) and (max-width:767px) {
        height: auto;
    }
}

.games-controls-inner {
    a {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #011C42;
        // border: 3px solid #011C42;
        display: flex;
        align-items: center;
        justify-content: center;
        // background: linear-gradient(180deg, #E9178D 0%, #FE7EC3 52.6%, #C21770 100%);
        margin: 2px 0;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        padding: 3px;
        &.active {
            background: linear-gradient(180deg, #E9178D 0%, #FE7EC3 52.6%, #C21770 100%);
            .fair {
                background-image: url("/assets/images/fair-active.svg");
            }
            .info {
                background-image: url("/assets/images/info-active.svg");
            }
        }
        span {
            width: 24px;
            height: 24px;
            display: flex;
        }
        .sound {
            background-image: url("/assets/images/sound.svg");
        }
        .fair {
            background-image: url("/assets/images/fair.svg");
        }
        .play {
            background-image: url("/assets/images/play-icon.svg");
        }
        .info {
            background-image: url("/assets/images/info.svg");
            &.active {
                background-image: url("/assets/images/info-active.svg");
            }
        }
    }
}

.winner-box {
    background: linear-gradient(180.26deg, rgba(255, 255, 255, 0.4) 14.26%, rgba(255, 255, 255, 0.096) 128.45%);
    backdrop-filter: blur(12px);
    border-radius: 40px;
    height: 79px;
    margin-bottom: 15px;
    span {
        font-size: 24px;
        background: linear-gradient(180deg, #CBF651 0%, #A4F971 33.85%, #55FEB9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        line-height: 28.51px
    }
    p {
        font-family: "Inter";
        font-style: normal;
        font-size: 20px;
        line-height: 24px;
        color: #CDEBFF;
    }
}

.black-jack-logo2 {
    @media (max-width: 767px) {
        display: none;
    }
}

.my-class {
    @media (max-width: 991px) {
        display: none;
    }
}

.button-height-set {
    height: 50vh;
    @media (min-width: 576px) and (max-width: 767px) {
        height: auto;
    }
}

.slider-height-set {
    height: 50vh;
    @media (min-width: 576px) and (max-width: 767px) {
        height: auto;
    }
}