<!-- <div class="supergame-wrap">

</div> -->
<div class="full-wrapper tp-mian">
    <app-header></app-header>
    <app-live-games-bar></app-live-games-bar>

    <div class="black-jack-wrap w-100">

        <!-- <div class="d-flex flex-column align-items-center justify-content-center w-100">
            <div class="progress-bar-wrap d-flex flex-column">
                <div class="black-jack-logo d-flex align-items-center justify-content-center w-100 position-relative">
                    <img src="assets/images/black-jack-logo.png ">
                </div>
                <div class="progress-bar-inner d-flex p-3">
                    <p class="w-100">
                        <ngb-progressbar [value]="50 "></ngb-progressbar>
                    </p>
                </div>

            </div>
        </div> -->

        <div class="w-100 d-flex flex-column black-jack-wrap-inner  position-relative">

            <div class="games-controls">
                <div class="games-controls-inner d-flex flex-column justify-content-center align-items-center">
                    <a href="#">
                        <span class="sound"></span>
                    </a>
                    <a [ngClass]="{'active': fairActive}" (click)="togglefair()">
                        <span class="fair"></span>
                    </a>
                    <a href="# ">
                        <span class="play"></span>
                    </a>
                    <a [ngClass]="{'active': infoActive}" (click)="toggleinfo()">
                        <span class="info"></span>
                    </a>
                </div>

                <div class="info-box" *ngIf="infobox">
                    <div class="info-box-inner d-flex  justify-content-between flex-column ">
                        <a class="controls-btn close-box-btn" (click)="toggleinfo()"></a>
                        <h4 class="inter-bold text-center ">How To Play</h4>
                        <div class="info-box-scroll ">
                            <p>Love fish find a way to fit in tiny box. Find something else more interesting scratch at fleas, meow until belly rubs, hide behind curtain</p>
                            <p>Love fish find a way to fit in tiny box. Find something else more interesting scratch at fleas, meow until belly rubs, hide behind curtain</p>
                            <p>Love fish find a way to fit in tiny box. Find something else more interesting scratch at fleas, meow until belly rubs, hide behind curtain</p>
                            <p>Love fish find a way to fit in tiny box. Find something else more interesting scratch at fleas, meow until belly rubs, hide behind curtain</p>
                            <p>Love fish find a way to fit in tiny box. Find something else more interesting scratch at fleas, meow until belly rubs, hide behind curtain</p>
                            <p>Love fish find a way to fit in tiny box. Find something else more interesting scratch at fleas, meow until belly rubs, hide behind curtain</p>
                        </div>
                        <div class="text-center w-100 ">
                            <button class="info-close mr-auto inter-bold info-close-mobile" (click)="toggleinfo()">Close</button>
                        </div>

                    </div>
                </div>

                <div class="info-box fair-box" *ngIf="fairbox">
                    <div class="info-box-inner d-flex  justify-content-between flex-column ">
                        <a class="controls-btn close-box-btn" (click)="togglefair()"></a>
                        <h4 class="inter-bold text-center ">Provably Fair</h4>
                        <div class="client-seed text-center d-flex align-items-center flex-column justify-content-center">
                            <span class="grey-opcty-text inter-bold">Client Seed</span>
                            <h5 class="poppin-semibold mb-0">12570390</h5>
                        </div>

                        <div class="client-seed text-center d-flex align-items-center flex-column justify-content-center py-4">
                            <span class="grey-opcty-text inter-bold mb-2">Server hash</span>
                            <p class="mb-0 poppin-semibold">bb1573407bf0539f25ed5404539ce4a281b3f7aaf654b8caaa80edd0c8a381df</p>
                            <div class="copy-text controls-btn"></div>
                        </div>


                        <div class="text-center w-100 ">
                            <button class="info-close mr-auto inter-bold mb-3 genrate-btn">Generate</button>
                            <button class="info-close mr-auto inter-bold info-close-mobile" (click)="togglefair()">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row button-height-set">
                <div class="col-md-12 ">
                    <div class="black-jack-logo2 text-center my-3 ">
                        <img src="/assets/images/black-jack-logo2.png ">
                    </div>

                    <div class="cards-wraps m-auto ">
                        <div class="d-inline-flex w-100 flex-row justify-content-between ">
                            <div class="card-animation-box h-100 d-flex flex-column ">
                                <div class="flip-card ">
                                    <div class="flip-card-inner ">

                                        <div class="flip-card-front ">
                                            <img src="/assets/images/black-jack-card-back.svg ">
                                        </div>
                                        <div class="flip-card-back ">
                                            <img src="/assets/images/black-jack-card-front.svg " />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-animation-box h-100 d-flex flex-column ">
                                <div class="flip-card ">
                                    <div class="flip-card-inner ">
                                        <div class="flip-card-front ">
                                            <img src="/assets/images/black-jack-card-back.svg ">
                                        </div>
                                        <div class="flip-card-back ">
                                            <img src="/assets/images/black-jack-card-front.svg " />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-animation-box h-100 d-flex flex-column ">

                                <div class="flip-card ">
                                    <span class="d-flex justify-content-center align-items-center ">21</span>
                                    <div class="flip-card-inner ">

                                        <div class="flip-card-front ">
                                            <img src="/assets/images/black-jack-card-back.svg ">
                                        </div>
                                        <div class="flip-card-back ">
                                            <img src="/assets/images/black-jack-card-front.svg " />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="d-inline-flex w-100 flex-row justify-content-between ">
                            <div class="card-animation-box h-100 d-flex flex-column ">
                                <div class="flip-card ">
                                    <div class="flip-card-inner ">
                                        <div class="flip-card-front ">
                                            <img src="/assets/images/black-jack-card-back.svg ">
                                        </div>
                                        <div class="flip-card-back ">
                                            <img src="/assets/images/black-jack-card-front.svg " />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-animation-box h-100 d-flex flex-column ">
                                <div class="flip-card ">
                                    <div class="flip-card-inner ">
                                        <div class="flip-card-front ">
                                            <img src="/assets/images/black-jack-card-back.svg ">
                                        </div>
                                        <div class="flip-card-back ">
                                            <img src="/assets/images/black-jack-card-front.svg " />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-animation-box h-100 d-flex flex-column ">
                                <div class="flip-card ">
                                    <span class="d-flex justify-content-center align-items-center ">21</span>
                                    <div class="flip-card-inner ">

                                        <div class="flip-card-front ">
                                            <img src="/assets/images/black-jack-card-back.svg ">
                                        </div>
                                        <div class="flip-card-back ">
                                            <img src="/assets/images/black-jack-card-front.svg " />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="w-100 d-flex flex-column  " *ngIf="winnerbox">
                            <div class="winner-box d-flex flex-column justify-content-center align-items-center">
                                <span class="space-normal">You WIN!</span>
                                <p class="mb-0">20,000!</p>
                            </div>
                            <button class="play-again d-flex flex-column justify-content-center align-items-center" (click)="playagain()">Play Again</button>
                        </div>


                    </div>


                </div>


            </div>




            <div class="row align-items-end slider-height-set" *ngIf="blackjackButtons">
                <div class="col-xl-4 col-6 col-sm-6 col-md-6 col-lg-3">
                    <ng-container>
                        <ng-container *ngTemplateOutlet="buttonTemplateone">
                        </ng-container>
                    </ng-container>
                </div>
                <div [ngClass]="(!showButton || !isMobile)?'col-xl-4 col-12 col-sm-12 col-md-12 col-lg-6 xs-pad-lr0 ':'' ">
                    <!-- <ng-container *ngIf="placeBetCardClone">
                     <ng-container *ngTemplateOutlet="blackjackslider">
                     </ng-container>
                     </ng-container> -->
                    <ng-container>
                        <ng-container *ngTemplateOutlet="blackjackslider">
                        </ng-container>
                    </ng-container>
                </div>
                <div [ngClass]="(showButton || !isMobile)?'col-xl-4 col-sm-6 col-md-6 col-lg-3 col-6':''">
                    <ng-container>
                        <ng-container *ngTemplateOutlet="buttonTemplatetwo">
                        </ng-container>
                    </ng-container>
                </div>
            </div>




        </div>
    </div>
</div>


<ng-template #buttonTemplateone>
    <div *ngIf="showButton || !isMobile">
        <div class="flex-column d-flex align-items-end w-100 ">
            <button class="black-jack-btn ">
          <span class="d-flex justify-content-center align-items-center " (click)="toggleWinner()">Stand</span>
        </button>
            <button class="black-jack-btn ">
          <span class="d-flex justify-content-center align-items-center ">Slip</span>
        </button>
        </div>
    </div>
</ng-template>
<ng-template #blackjackslider>
    <div *ngIf="!showButton || !isMobile" class="circle-slider-main">
        <app-circleslider></app-circleslider>
    </div>
</ng-template>
<ng-template #buttonTemplatetwo>
    <div *ngIf="showButton || !isMobile">
        <div class="flex-column d-flex align-items-start w-100 ">
            <button class="black-jack-btn ">
          <span class="d-flex justify-content-center align-items-center ">Double</span>
        </button>
            <button class="black-jack-btn ">
          <span class="d-flex justify-content-center align-items-center ">Hit</span>
        </button>
        </div>
    </div>
</ng-template>