.video-card-section img {
    max-width: 37px;
    @media (max-width: 767px) {
        max-width: 30px;
    }
    @media (max-width: 575px) {
        max-width: 20px;
    }
}

.card-animation-box {
    width: 43px;
    height: 55px;
    margin: 0px;
    @media (max-width: 767px) {
        width: 35px;
        height: 45px;
        margin: 1px;
    }
    @media (max-width: 575px) {
        width: 20px;
        height: 30px;
        margin: 1px;
    }
}

.your-choice-layer {
    z-index: 9;
}

.your-choice-bg {
    background-image: url("/assets/images/your-choice-bg.svg");
    width: 100%;
    height: 120px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    background-color: rgba(7, 28, 40, 0.9);
    z-index: 1;
}