.live-games-sec {
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.5) inset;
    font-size: 14px;
    font-style: italic;
    color: #ffffff;
    position: relative;
    height: 31px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    .layer-crd {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #102e40;
        opacity: 0.8;
    }
    p {
        position: relative;
        display: inline-block;
        margin: 0 7px 0 0;
        padding: 5px 0;
        .mcircles {
            width: 21px;
            height: 21px;
            float: left;
            margin-right: 7px;
        }
    }
}

:host-context(body.day-mode) {
    .live-games-sec {
        color: #22433F;
        border-color: #DEFF82;
        box-shadow: none;
        .layer-crd {
            background-color: #ffffff;
        }
        .mcircles {
            background-image: url("/assets/images/mcircles-white.svg");
            width: 28px;
            height: 28px;
        }
    }
}