<div class="live-games-sec">
    <div class="live-sec-inner font-futura-medium">
        <div class="layer-crd"></div>
        <marquee scrollamount="4">
            <p *ngFor="let item of liveGames">
                <span class="mcircles"></span> Live {{item.name}}
            </p>
        </marquee>
    </div>
</div>