
.game-btns-box {
  .first-btn-row{
    button{
      .badge {
        color: #071c28;
        font-size: 13px;
        border-radius: 12px;
        margin-top: 3px;
        width: 70%;
      }
    }
  }
  .first-btn-row.big-btns{
    button{
      .badge {
        width: 60%;
      }
    }
  }

}

.game-result-box {
  .game-result-box-top {
    padding: 12px 0 12px 0;
    .cross-btn {
      width: 28px;
      height: 28px;
      border: 1px solid #011622;
    }
  }
  .game-result-box-mid {
    .game-winner {
      color: #d8ec2a;
      h4 {
        font-size: 16px;
        color: #d9f97f;
        font-weight: 400;
      }
      h5 {
        color: white;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}
