.genral-btn {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: "Futura";
    font-weight: bold;
    border: 1px solid transparent;
    letter-spacing: 2px;
}

.lucky-7-bg {
    background: #795697 !important;
}

.lucky-second-value {
    color: #88d7f0;
}

.grey-btn {
    background: rgb(65, 67, 68);
    background: -moz-linear-gradient( top, rgba(65, 67, 68, 1) 0%, rgba(43, 45, 46, 1) 100%);
    background: -webkit-linear-gradient( top, rgba(65, 67, 68, 1) 0%, rgba(43, 45, 46, 1) 100%);
    background: linear-gradient( to bottom, rgba(65, 67, 68, 1) 0%, rgba(43, 45, 46, 1) 100%);
    color: $white-color;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 3px 5px rgba(0, 0, 0, 0.4) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 3px 5px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3), 0 3px 5px rgba(0, 0, 0, 0.4) inset;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
}

.place-btn {
    background: linear-gradient(180deg, #c8ed60 0%, #c0e35e 45.31%, #617722 100%);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: #22433f;
    font-size: 16px;
    border-radius: 4px;
}

.joker-btn-dark-gardent {
    background: #295262;
    // background: linear-gradient(
    //   180deg,
    //   rgba(45, 85, 99, 0.8) 0%,
    //   rgba(73, 139, 162, 0.8) 19.27%,
    //   rgba(27, 53, 62, 0.8) 90.1%
    // );
}

.dark-three-gardent {
    // background: rgba(11, 33, 44, 0.4);
    background: $bet-dark-grey; // background: -moz-linear-gradient(top, rgba(11, 33, 44, 0.2) 0%, rgba(7, 28, 40, 0.2) 50%, rgba(27, 53, 62, 0.2) 100%);
    // background: -webkit-linear-gradient(top, rgba(11, 33, 44, 0.2) 0%, rgba(7, 28, 40, 0.2) 50%, rgba(27, 53, 62, 0.2) 100%);
    // background: linear-gradient(to bottom, rgba(11, 33, 44, 0.2) 0%, rgba(7, 28, 40, 0.2) 50%, rgba(27, 53, 62, 0.2) 100%);
}

.dark-three-gardent22 {
    background: $bet-dark-grey;
    // background: -moz-linear-gradient(top, rgba(45, 85, 99, 0.2) 0%, rgba(73, 139, 161, 0.2) 50%, rgba(27, 53, 62, 0.2) 100%);
    // background: -webkit-linear-gradient(top, rgba(45, 85, 99, 0.2) 0%, rgba(73, 139, 161, 0.2) 50%, rgba(27, 53, 62, 0.2) 100%);
    // background: linear-gradient(to bottom, rgba(45, 85, 99, 0.2) 0%, rgba(73, 139, 161, 0.2) 50%, rgba(27, 53, 62, 0.2) 100%);
}

.dark-three-gardent2 {
    background: $bet-light-blue;
    // background: -moz-linear-gradient(top, rgba(13, 76, 96, 1) 0%, rgba(18, 150, 191, 1) 25%, rgba(13, 76, 96, 1) 100%);
    // background: -webkit-linear-gradient(top, rgba(13, 76, 96, 1) 0%, rgba(18, 150, 191, 1) 25%, rgba(13, 76, 96, 1) 100%);
    // background: linear-gradient(to bottom, rgba(13, 76, 96, 1) 0%, rgba(18, 150, 191, 1) 25%, rgba(13, 76, 96, 1) 100%);
}

.dark-three-gardent3 {
    background: $bet-light-green;
    // background: -moz-linear-gradient(top, rgba(15, 128, 121, 1) 0%, rgba(16, 190, 179, 1) 42%, rgba(16, 190, 179, 1) 42%, rgba(15, 128, 121, 1) 100%);
    // background: -webkit-linear-gradient(top, rgba(15, 128, 121, 1) 0%, rgba(16, 190, 179, 1) 42%, rgba(16, 190, 179, 1) 42%, rgba(15, 128, 121, 1) 100%);
    // background: linear-gradient(to bottom, rgba(15, 128, 121, 1) 0%, rgba(16, 190, 179, 1) 42%, rgba(16, 190, 179, 1) 42%, rgba(15, 128, 121, 1) 100%);
}

.dark-three-gardent4 {
    background: $primary-color;
    // background: -moz-linear-gradient(-45deg, rgba(216, 236, 42, 1) 0%, rgba(227, 248, 206, 1) 52%, rgba(227, 248, 206, 1) 52%, rgba(216, 236, 42, 1) 100%);
    // background: -webkit-linear-gradient(-45deg, rgba(216, 236, 42, 1) 0%, rgba(227, 248, 206, 1) 52%, rgba(227, 248, 206, 1) 52%, rgba(216, 236, 42, 1) 100%);
    // background: linear-gradient(135deg, rgba(216, 236, 42, 1) 0%, rgba(227, 248, 206, 1) 52%, rgba(227, 248, 206, 1) 52%, rgba(216, 236, 42, 1) 100%);
}

.gameslider {
    .swiper-button-prev {
        font-size: 0;
        background-color: transparent;
        border: none;
        width: 27px;
        height: 22px;
        background-image: url("/assets/images/slick-left.svg") !important;
        left: 0;
        @media (max-width: 767px) {
            display: none;
        }
        &:after {
            display: none;
        }
        &:hover {
            opacity: 1;
        }
    }
    .swiper-button-next {
        font-size: 0;
        background-color: transparent;
        border: none;
        width: 27px;
        height: 22px;
        background-image: url("/assets/images/slick-right.svg") !important;
        right: 0;
        @media (max-width: 767px) {
            display: none;
        }
        &:after {
            display: none;
        }
        &:hover {
            opacity: 1;
        }
    }
}

.bet-buttons {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    .btn-group {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        .btn:not(:first-child),
        .btn-group:not(:first-child) {
            margin-left: 0;
        }
    }
    .bet-radio-btn {
        width: 30.66%;
        background-color: rgba(255, 255, 255, 0.8);
        border: 2px solid $night-mode-color;
        border-radius: 10px !important;
        display: flex;
        padding: 5px 0;
        align-items: center;
        flex-flow: column;
        font-size: 16px;
        margin: 14px 4% 0px 0;
        &:first-child {
            margin-left: 0 !important;
        }
        &:nth-child(3n+3) {
            margin-right: 0;
        }
        &.btn.active {
            background-color: $primary-color;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        }
    }
}

.silver-btn {
    background-color: $silver-btn;
}

.gold-btn {
    background-color: $gold-btn;
}

.marjanda-btn {
    background-color: $marjanda-btn;
}

.dragon-bg {
    background-image: url(/assets/images/dragon.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.tiger-bg {
    background-image: url(/assets/images/tiger.svg);
    background-position: center;
    background-repeat: no-repeat;
}