body.day-mode {
    .full-wrapper {
        background-color: $white-color;
    }
    .game-video-tp {
        background-color: $white-color;
        color: $black-color;
        h3 {
            &:before {
                background-image: url("/assets/images/colored-leaf-day.svg");
            }
            &:after {
                background-image: url("/assets/images/colored-leaf-day.svg");
            }
        }
    }
    .dark-three-gardent {
        color: $black-color;
    }
    .dark-three-gardent22 {
        color: $black-color;
    }
    .game-limit-proft {
        color: #22433F;
    }
    .place-bet-middle {
        background-color: #EFEFEF;
    }
    .game-right-side {
        h5 {
            color: #22433F;
        }
    }
    .place-bet-top {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100 */
        background: rgb(255, 255, 255);
        /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
        color: #22433F;
        -webkit-box-shadow: inset 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: inset 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
        box-shadow: inset 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    }
    .quantity {
        .quantity-nav {
            color: #22433F;
        }
        .quantity-button {
            &.quantity-up {
                background-image: url("/assets/images/plus-icon-day.svg");
            }
            &.quantity-down {
                background-image: url("/assets/images/minus-icon-day.svg");
            }
        }
    }
    .place-bet-input {
        .custum-input {
            .form-control {
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f9fdff+0,e8e8e8+100 */
                background: rgb(249, 253, 255);
                /* Old browsers */
                background: -moz-linear-gradient(top, rgba(249, 253, 255, 1) 0%, rgba(232, 232, 232, 1) 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(249, 253, 255, 1) 0%, rgba(232, 232, 232, 1) 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(249, 253, 255, 1) 0%, rgba(232, 232, 232, 1) 100%);
                color: #0F2836;
                &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    color: #0F2836;
                }
                &::-moz-placeholder {
                    /* Firefox 19+ */
                    color: #0F2836;
                }
                &:-ms-input-placeholder {
                    /* IE 10+ */
                    color: #0F2836;
                }
                &:-moz-placeholder {
                    /* Firefox 18- */
                    color: #0F2836;
                }
            }
        }
    }
    .straight-line {
        span {
            background: #B7BABC;
        }
    }
    .grey-btn {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#efefef+0,efefef+100 */
        background: rgb(239, 239, 239);
        box-shadow: none;
        color: #22433F;
        border-color: #22433F;
    }
    .quick-bet-left {
        border-color: #B7BABC;
        color: #22433F;
        .switch-toggle {
            background: linear-gradient(180deg, rgba(241, 243, 236, 0.8) 0%, rgba(131, 131, 131, 0.8) 100%);
            .slider {
                background-color: #AAADA1;
            }
        }
    }
}