.font-normal {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.font-medium {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.font-montserrat-semibold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.font-montserrat-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.font-futura-bold {
    font-family: 'Futura';
    font-weight: bold;
}

.font-futura-medium {
    font-family: 'Futura';
    font-weight: 500;
}

.font-roboto-regular {
    font-family: 'Roboto';
    font-weight: normal;
}

.font-roboto-medium {
    font-family: 'Roboto';
    font-weight: 500;
}

.font-roboto-bold {
    font-family: 'Roboto';
    font-weight: bold;
}

.font-roboto-black {
    font-family: 'Roboto';
    font-weight: 900;
}

.inter-bold {
    font-family: 'Inter';
    font-weight: bold;
}

.poppin-normal {
    font-family: 'Poppins';
    font-weight: normal;
}

.poppin-semibold {
    font-family: 'Poppins';
    font-weight: 600;
}

.space-normal {
    font-family: 'Space Quest';
    font-weight: normal;
}