h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Futura";
    font-weight: bold;
}

.font-normal {
    font-weight: 400 !important;
}

.tp-mian {
    .logo {
        margin-top: 0;
        img {
            width: 320px;
            @media (max-width: 1199px) {
                width: 222px;
                height: 38px;
            }
            @media (max-width: 576px) {
                width: 150px;
            }
        }
    }
}

.lower-wrap {
    position: relative;
}

.gameslider {
    width: 100%;
    float: left;
    padding: 0px 250px 0px;
    @media (max-width: 991px) {
        padding: 0px 0px 0px;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
        padding: 0px 50px 0px;
    }
    @media (min-width: 1200px) and (max-width: 1600px) {
        padding: 0px 150px 0px;
    }
    @media (min-width: 992px) {
        height: 123px;
    }
    .swiper-wrapper {
        .swiper-slide {
            &.swiper-slide-active {
                .slider-bx {
                    background: linear-gradient( 180deg, rgba(195, 219, 126, 0) 0%, #c9fe38 73.96%) !important;
                }
            }
        }
    }
}

.game-video {
    width: 100%;
    z-index: 888;
    position: relative;
    @media (max-width: 991px) {
        padding-left: 0;
        display: flex;
        flex-flow: column-reverse;
    }
}

.game-video-tp {
    background-color: #011622;
    color: $primary-text-color;
    text-align: center;
    position: relative;
    padding: 6px 15px;
    @media (max-width: 991px) {
        margin: 0 10px;
    }
    h3 {
        font-size: 20px;
        display: inline-block;
        margin-bottom: 0;
        position: relative;
        font-family: "Futura";
        font-weight: bold;
        padding: 0 80px;
        &:before {
            content: "";
            background-image: url("/assets/images/colored-leaf.svg");
            width: 13px;
            height: 11px;
            position: absolute;
            left: 0;
            top: 0;
            top: 50%;
            transform: translateY(-50%);
            background-repeat: no-repeat;
        }
        &:after {
            content: "";
            background-image: url("/assets/images/colored-leaf.svg");
            width: 13px;
            height: 11px;
            position: absolute;
            right: 0;
            top: 0;
            top: 50%;
            transform: translateY(-50%);
            background-repeat: no-repeat;
        }
    }
    p {
        position: absolute;
        top: 50%;
        right: 15px;
        margin-bottom: 0;
        font-size: 16px;
        font-family: "Futura";
        font-weight: bold;
        transform: translateY(-50%);
        @media (max-width: 767px) {
            display: none;
        }
    }
}

.game-video-bg {
    width: 100%;
    position: relative;
}

@media (max-width: 991px) {
    .game-video-tp {
        margin: 0 15px;
    }
    .game-video-bg {
        padding: 0;
    }
}

.game-right-side {
    width: 100%;
    .for-scroll {
        width: 100%;
        max-height: 69.7vh;
        min-height: 300px;
        overflow-y: auto;
        @media (min-width: 992px) and (max-width: 1100px) {
            max-height: 65.7vh;
        }
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: $white-color;
        }
        .next-game-msg {
            width: 100%;
            height: 100%;
            background: rgba(7, 28, 40, 0.9);
            position: absolute;
            top: 0;
            left: 0;
            .next-game-content {
                background-image: url("/assets/images/next-game-bg.svg");
                background-repeat: no-repeat;
                background-position: center;
                padding: 30px 60px;
                border-radius: 25px;
                p {
                    color: $white-color;
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
    }
    .game-limit-proft {
        font-size: 12px;
        color: #e3f8ce;
        text-align: center;
        padding: 6px 0 10px 0;
        span {
            padding: 0 15px;
        }
    }
    .one-ka-rate {
        font-size: 16px;
        font-weight: 700;
        color: #e3f8ce;
        text-align: center;
        padding: 0px 0 15px 0;
        span {
            padding: 0 15px;
        }
    }
    h5 {
        color: #e3f8ce;
        margin: 20px 0 17px;
    }
}

.game-right-side.worly-matka {
    .for-scroll {
        max-height: calc(69.7vh - 34.5px);
    }
}

@media (max-width: 991px) {
    .game-right-side {
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .game-right-side {
        padding: 0px;
    }
}

@media (max-width: 991px) {
    .game-right-side {
        margin-bottom: 20px;
        .for-scroll {
            max-height: 100%;
        }
    }
}

.game-btns-box {
    width: 100%;
    .first-btn-row.four-btns {
        button {
            width: calc(25% - 2px);
        }
    }
    .first-btn-row.two-btns {
        button {
            width: calc(50% - 2px);
        }
    }
    .first-btn-row.three-btns {
        button {
            width: calc(33.3% - 2px);
        }
    }
    .first-btn-row.one-btns {
        button {
            width: calc(100% - 0px);
        }
    }
    .first-btn-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 3px;
        button {
            width: calc(50% - 1.5px);
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            align-items: center;
            font-size: 12px;
            border: 2px solid transparent;
            color: $white-color;
            padding: 15px 0;
            &:hover {
                border-color: #deff82;
                box-shadow: 0px 2px 6px 0px rgba(222, 255, 130, 1);
                -webkit-box-shadow: 0px 2px 6px 0px rgba(222, 255, 130, 1);
                -moz-box-shadow: 0px 2px 6px 0px rgba(222, 255, 130, 1);
            }
        }
        &.three-btns-row {
            button {
                width: calc(33.3% - 1.5px);
            }
        }
    }
    &.color-black {
        .first-btn-row {
            button {
                color: #030027;
                padding: 3px;
                min-height: 78px;
                .btn-border {
                    border: 1px solid $black-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-flow: column wrap;
                    width: 100%;
                    height: 100%;
                    padding: 6.5px;
                }
                &.four-btns-row {
                    button {
                        width: calc(25% - 1.5px);
                    }
                }
            }
            &.color-black {
                .first-btn-row {
                    button {
                        color: #030027;
                        padding: 3px;
                        min-height: 78px;
                        .btn-border {
                            border: 1px solid $black-color;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-flow: column wrap;
                            width: 100%;
                            height: 100%;
                            padding: 6.5px;
                        }
                        &:hover {
                            border-color: transparent;
                            box-shadow: none;
                        }
                    }
                    .span-color {
                        color: #0d4c60;
                    }
                    &:hover {
                        border-color: transparent;
                        box-shadow: none;
                    }
                }
                .span-color {
                    color: #0d4c60;
                }
            }
        }
    }
}

.winner-title {
    color: $white-color;
    margin-top: 15px;
    font-size: 17px;
    font-family: "Futura";
}

.book-btn-wrap {
    position: absolute;
    bottom: 38px;
    right: 15px;
    width: 120px;
    height: 120px;
    z-index: 8438583;
    @media (max-width: 991px) {
        position: relative;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 51px;
        height: 51px;
        margin: 30px 0 30px;
    }
}

.book-btn {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
    .circle1 {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        margin: 5px;
        left: 0;
        border-radius: 50%;
        background-color: $circle-one-color;
        box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);
        -webkit-box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);
        z-index: 10;
        @media (max-width: 991px) {
            background-color: transparent;
        }
    }
    .circle2 {
        width: 70px;
        height: 70px;
        top: 50%;
        left: 50%;
        background-image: url("/assets/images/green-btn.svg");
        z-index: 2;
        position: absolute;
        transform: translate(-50%, -50%);
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        z-index: 15;
    }
    .circle2.active {
        background-image: url("/assets/images/green-btn-with-white-border.svg") !important;
    }
}

.game-tabs {
    position: absolute;
    bottom: calc(125px - 60px);
    width: 327px;
    margin: 5px;
    right: calc(125px - 60px);
    padding: 3px;
    background: rgb(183, 216, 91);
    background: -moz-linear-gradient( top, rgba(183, 216, 91, 1) 0%, rgba(222, 255, 129, 1) 36%, rgba(85, 109, 19, 1) 100%);
    background: -webkit-linear-gradient( top, rgba(183, 216, 91, 1) 0%, rgba(222, 255, 129, 1) 36%, rgba(85, 109, 19, 1) 100%);
    background: linear-gradient( to bottom, rgba(183, 216, 91, 1) 0%, rgba(222, 255, 129, 1) 36%, rgba(85, 109, 19, 1) 100%);
    border-radius: 20px;
    z-index: 1;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 1);
    @media (max-width: 991px) {
        left: 50%;
        transform: translateX(-50%);
        bottom: 50%;
    }
}

// .video-card-section {
//   padding-bottom: 10px;
//   font-size: 10px;
//   font-family: "Roboto", sans-serif;
//   font-weight: 900;
//   text-align: center;
//   p {
//     color: $white-color;
//   }
//   @media (max-width: 767px) {
//     font-size: 8px;
//     padding: 5px;
//   }
// }
.nova-color1 {
    color: $primary-color;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 3s ease 0s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner,
.flip-card.movecard .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    color: $black-color;
}

.flip-card-back {
    transform: rotateY(180deg);
}