@import "./variables.scss";
@import "./fonts.scss";
@import "./general.scss";
@import "./button.scss";
@import "./day-mode.scss";
.full-wrapper {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    background-color: $night-mode-color;
    @media (max-width: 991px) {
        justify-content: space-between;
        height: 100%;
    }
}

.logo {
    margin-top: 150px;
    @media (max-width: 767px) {
        margin-top: 130px;
    }
}

.dots-topright {
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("/assets/images/dots-tr.svg");
    width: 649px;
    height: 626px;
    @media (max-width: 767px) {
        width: 297px;
        height: 297px;
        background-image: url("/assets/images/dots-tr-mobile.svg");
    }
}

.dots-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("/assets/images/dots-bl.svg");
    width: 660px;
    height: 660px;
    @media (max-width: 767px) {
        width: 297px;
        height: 297px;
        background-image: url("/assets/images/dots-bl-mobile.svg");
    }
}

.profile-icon {
    background-image: url("/assets/images/profile.svg");
    background-position: right 19px center;
    background-repeat: no-repeat;
}

.close-eye {
    background-image: url("/assets/images/close-eye.svg");
    background-position: right 19px center;
    background-repeat: no-repeat;
}

.p-card {
    background-image: url("/assets/images/payment-card.svg");
    background-repeat: no-repeat;
}

.mcircles {
    background-image: url("/assets/images/mcircles.svg");
    background-repeat: no-repeat;
}

.straight-line {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: center;
    top: calc(0px - 25px);
    @media (max-width: 991px) {
        display: none !important;
    }
    span {
        width: 100%;
        height: 2px;
        background: #383a3b;
        display: flex;
        margin-left: calc(40px + 25px);
        margin-right: calc(40px + 25px);
    }
}

.fs14 {
    font-size: 14px;
}

.fs16 {
    font-size: 16px;
}

.tlb-radius {
    border-top-left-radius: 25px;
}

.trb-radius {
    border-top-right-radius: 25px;
}

.blb-radius {
    border-bottom-left-radius: 25px;
}

.brb-radius {
    border-bottom-right-radius: 25px;
}

.w-48 {
    width: 48% !important;
}

.bg-nowa-yellow {
    background-color: #deff82;
}

.bg-nowa-orange {
    background: $nova-orange;
}

.rotate-90 {
    transform: rotate(90deg);
}

.game-tabs-inner {
    width: 100%;
    height: auto;
    position: relative;
    background: $white-color;
    border-radius: 20px;
    padding: 0 21px 0;
    .card {
        padding: 0px 0;
        border: none;
        background-color: transparent;
        .card-header {
            padding: 0 0px 0;
            background-color: transparent;
            position: relative;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding: 18px 0px;
            border-bottom: 2px solid $primary-color;
            margin-bottom: 0;
            border-radius: 0;
            &:before {
                background-color: $primary-color;
                width: 43px;
                height: 43px;
                border-radius: 50%;
                position: absolute;
                left: 0px;
                top: 50%;
                content: "";
                transform: translateY(-50%);
            }
            button {
                font-size: 17px;
                color: $black-color;
                padding: 0;
                width: 100%;
                text-align: left;
                position: relative;
                padding-left: 14px;
                font-family: "Futura";
                font-weight: bold;
                margin-top: 3px;
                &:hover {
                    text-decoration: none;
                }
                &:focus {
                    outline: none;
                    box-shadow: none;
                    text-decoration: none;
                }
                &:before {
                    background-image: url("/assets/images/white-arrow.svg");
                    width: 24px;
                    height: 24px;
                    content: "";
                    position: absolute;
                    right: 0;
                    top: -5px;
                    background-color: #0f2735;
                    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
                    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
                    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
                    border-radius: 50%;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                &[aria-expanded="true"] {
                    &:before {
                        background-image: url("/assets/images/white-arrow-up.svg");
                    }
                }
            }
        }
    }
    .card-body {
        padding: 20px 0 0 0;
        .quick-bet-wrap {
            width: 100%;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: $black-color;
            line-height: 18px;
            border-bottom: 2px solid $primary-color;
            position: relative;
        }
        .table {
            margin-bottom: 0;
            thead {
                th {
                    font-size: 12px;
                    font-family: "Roboto", sans-serif;
                    font-weight: 900;
                    border-top: 0;
                    border-color: $black-color;
                    padding: 12px 8px;
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                        text-align: right;
                    }
                }
            }
            tr {
                &:nth-of-type(odd) {
                    background-color: transparent;
                }
                td {
                    font-size: 12px;
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    color: #7b7b7b;
                    border-bottom: 2px solid $primary-color;
                    padding: 8px;
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        text-align: right;
                    }
                }
                &:last-child {
                    td {
                        border: none;
                    }
                }
            }
        }
    }
}

.custum-input {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: $black-color;
    .form-group {
        margin-bottom: 0;
        .form-control {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#102e40+0,112733+100 */
            background: rgb(16, 46, 64);
            background: -moz-linear-gradient( left, rgba(16, 46, 64, 1) 0%, rgba(17, 39, 51, 1) 100%);
            background: -webkit-linear-gradient( left, rgba(16, 46, 64, 1) 0%, rgba(17, 39, 51, 1) 100%);
            background: linear-gradient( to right, rgba(16, 46, 64, 1) 0%, rgba(17, 39, 51, 1) 100%);
            border-radius: 10px;
            font-size: 16px;
            color: $white-color;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            outline: none;
            border: none;
            &::-webkit-input-placeholder {
                color: $white-color;
            }
            &::-moz-placeholder {
                color: $white-color;
            }
            &:-ms-input-placeholder {
                color: $white-color;
            }
            &:-moz-placeholder {
                color: $white-color;
            }
        }
    }
}

.place-bet {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    .place-bet-top {
        width: 100%;
        flex-flow: row wrap;
        align-items: center;
        padding: 20px;
        background: rgb(70, 91, 104);
        background: -moz-linear-gradient( top, rgba(70, 91, 104, 1) 0%, rgba(52, 69, 81, 1) 50%, rgba(13, 20, 24, 1) 100%);
        background: -webkit-linear-gradient( top, rgba(70, 91, 104, 1) 0%, rgba(52, 69, 81, 1) 50%, rgba(13, 20, 24, 1) 100%);
        background: linear-gradient( to bottom, rgba(70, 91, 104, 1) 0%, rgba(52, 69, 81, 1) 50%, rgba(13, 20, 24, 1) 100%);
        color: $white-color;
        @media (max-width: 991px) {
            padding: 25px 10px;
            .pl-3 {
                padding-left: 0 !important;
            }
        }
        @media (min-width: 991px) and (max-width: 1199px) {
            padding: 25px 10px;
            .pl-3 {
                padding-left: 0 !important;
            }
        }
        .back-box {
            border: 2px solid #d9f97f;
            background: rgb(13, 76, 96);
            // background: -moz-linear-gradient(top, rgba(13, 76, 96, 1) 0%, rgba(18, 150, 191, 1) 20%, rgba(13, 76, 96, 1) 100%);
            // background: -webkit-linear-gradient(top, rgba(13, 76, 96, 1) 0%, rgba(18, 150, 191, 1) 20%, rgba(13, 76, 96, 1) 100%);
            // background: linear-gradient(to bottom, rgba(13, 76, 96, 1) 0%, rgba(18, 150, 191, 1) 20%, rgba(13, 76, 96, 1) 100%);
            border-radius: 10px;
            font-size: 12px;
            color: $white-color;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            width: 105px;
            justify-content: space-evenly;
            padding: 13px 0;
            margin: 0;
            @media (max-width: 767px) {
                margin: 0 10px 14px 0;
            }
            @media (min-width: 991px) and (max-width: 1199px) {
                margin: 0 10px 30px 0;
            }
            &:hover {
                cursor: pointer;
            }
        }
        .place-bet-top-content {
            min-width: 260px;
        }
    }
}

.game-result-wrap {
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    .game-result-circle {
        width: 57px;
        height: 57px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid $night-mode-color;
        font-size: 20px;
        margin: 0 15px 11px 0;
        &:nth-child(4n+4) {
            margin-right: 0;
        }
        &.active {
            color: #d8ec2a;
            background: linear-gradient( 180deg, rgba(16, 46, 64, 0.8) 0%, rgba(17, 39, 51, 0.8) 100%);
            border-color: #d9f97f;
        }
    }
}

.place-bet-middle {
    width: 100%;
    background-color: #01080c;
    padding: 10px 0 25px;
    .place-bet-slider {
        .swiper-container {
            padding-right: 125px;
            padding-bottom: 70px;
            @media (max-width: 767px) {
                padding-right: 50px;
                padding-bottom: 45px;
            }
            @media (max-width: 991px) {
                padding-right: 0px;
                padding-bottom: 45px;
            }
            @media (max-width: 1199px) {
                padding-right: 80px;
            }
        }
        .swiper-slide {
            margin-right: 16.5px;
        }
        .swiper-slide-active {
            .bet-colored-circle {
                background-image: url("/assets/images/bet-circle-2.svg");
            }
        }
        .swiper-button-prev,
        .swiper-button-next {
            width: 50px;
            height: 50px;
            font-size: 0;
            border: none;
            transform: translate(0px, 50px);
        }
        .swiper-button-prev {
            bottom: 0;
            left: 0px;
            opacity: 1;
            background-image: url("/assets/images/bet-slider-arrow-left.svg");
            @media (max-width: 991px) {
                display: none;
            }
            &:after {
                display: none;
            }
            &:hover {
                opacity: 1;
            }
        }
        .swiper-button-next {
            bottom: 0;
            right: 23px;
            background-image: url("/assets/images/bet-slider-arrow-right.svg");
            opacity: 1;
            @media (max-width: 991px) {
                display: none;
            }
            &:after {
                display: none;
            }
            &:hover {
                opacity: 1;
            }
        }
        .swiper-pagination-bullet {
            background: linear-gradient( 180deg, #d4f479 0%, #bbdb65 34.9%, #94b044 100%);
            width: 8px;
            height: 8px;
            opacity: 1;
            display: none;
            @media (max-width: 991px) {
                display: inline-block;
            }
        }
    }
}

.slider-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $white-color;
    width: 100%;
    height: auto;
    position: relative;
    background: $white-color;
    border-radius: 20px;
    padding: 0 21px 0;
    .card {
        padding: 0px 0;
        border: none;
        background-color: transparent;
        .card-header {
            padding: 0 0px 0;
            background-color: transparent;
            position: relative;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding: 18px 0px;
            border-bottom: 2px solid $primary-color;
            margin-bottom: 0;
            border-radius: 0;
            &:before {
                background-color: #d8ec2a;
                width: 43px;
                height: 43px;
                border-radius: 50%;
                position: absolute;
                left: 0px;
                top: 50%;
                content: "";
                transform: translateY(-50%);
            }
            button {
                font-size: 17px;
                color: $black-color;
                padding: 0;
                width: 100%;
                text-align: left;
                position: relative;
                padding-left: 14px;
                font-family: "Futura";
                font-weight: bold;
                margin-top: 3px;
                &:hover {
                    text-decoration: none;
                }
                &:focus {
                    outline: none;
                    box-shadow: none;
                    text-decoration: none;
                }
                &:before {
                    background-image: url("/assets/images/white-arrow.svg");
                    width: 24px;
                    height: 24px;
                    content: "";
                    position: absolute;
                    right: 0;
                    top: -5px;
                    background-color: #0f2735;
                    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
                    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
                    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
                    border-radius: 50%;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                &[aria-expanded="true"] {
                    &:before {
                        background-image: url("/assets/images/white-arrow-up.svg");
                    }
                }
            }
        }
    }
    .card-body {
        padding: 20px 0 0 0;
        .quick-bet-wrap {
            width: 100%;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 14px;
            color: $black-color;
            line-height: 18px;
            border-bottom: 2px solid $primary-color;
            position: relative;
        }
        .table {
            margin-bottom: 0;
            thead {
                th {
                    font-size: 12px;
                    font-family: "Roboto", sans-serif;
                    font-weight: 900;
                    border-top: 0;
                    border-color: $black-color;
                    padding: 12px 8px;
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        padding-right: 0;
                        text-align: right;
                    }
                }
            }
            tr {
                &:nth-of-type(odd) {
                    background-color: transparent;
                }
                td {
                    font-size: 12px;
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    color: #7b7b7b;
                    border-bottom: 2px solid $primary-color;
                    padding: 8px;
                    &:first-child {
                        padding-left: 0;
                    }
                    &:last-child {
                        text-align: right;
                    }
                }
                &:last-child {
                    td {
                        border: none;
                    }
                }
            }
        }
    }
}

.switch-toggle {
    width: 88px;
    height: 36px;
    display: flex;
    background: linear-gradient( 180deg, rgba(16, 46, 64, 0.8) 0%, rgba(17, 39, 51, 0.8) 100%);
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    .switch {
        position: relative;
        display: inline-block;
        width: 64px;
        height: 8px;
        margin-bottom: 0;
        input {
            opacity: 0;
            width: 0;
            height: 0;
            &:checked+.slider {
                background-color: #96cc0c;
            }
            &:checked+.slider:before {
                -webkit-transform: translate(200%, -50%);
                -ms-transform: translate(200%, -50%);
                transform: translate(200%, -50%);
            }
        }
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            border-radius: 4px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 3px 1px rgba(255, 255, 255, 0.7) inset;
            -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 3px 1px rgba(255, 255, 255, 0.7) inset;
            -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 3px 1px rgba(255, 255, 255, 0.7) inset;
            &:before {
                position: absolute;
                content: "";
                height: 24px;
                width: 24px;
                top: 50%;
                transform: translate(-8px, -50%);
                -webkit-transition: 0.4s;
                transition: 0.4s;
                background: rgb(255, 255, 255);
                background: -moz-linear-gradient( top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 16%, rgba(223, 225, 217, 1) 100%);
                background: -webkit-linear-gradient( top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 16%, rgba(223, 225, 217, 1) 100%);
                background: linear-gradient( to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 16%, rgba(223, 225, 217, 1) 100%);
            }
            &.round {
                &:before {
                    border-radius: 50%;
                }
            }
        }
    }
}

.slider-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $white-color;
}

.place-bet-input {
    .custum-input {
        .form-control {
            background: -moz-linear-gradient( top, rgba(16, 46, 64, 0.8) 0%, rgba(17, 39, 51, 0.8) 100%);
            background: -webkit-linear-gradient( top, rgba(16, 46, 64, 0.8) 0%, rgba(17, 39, 51, 0.8) 100%);
            background: linear-gradient( to bottom, rgba(16, 46, 64, 0.8) 0%, rgba(17, 39, 51, 0.8) 100%);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
            -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
            -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
        }
    }
}

.cancel-bet-section {
    &.flex-row {
        @media (min-width: 992px) and (max-width: 1199px) {
            flex-direction: column !important;
        }
    }
    .grey-btn {
        margin-right: 11px;
        width: 40%;
    }
    .place-btn {
        width: 60%;
    }
    button {
        padding: 7px 0px;
        @media (max-width: 991px) {
            width: 50% !important;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
            width: 100% !important;
            margin: 0;
        }
    }
}

.quick-bet-left {
    width: calc(100% - 76px);
    border-top: 2px solid #383a3b;
    font-size: 16px;
    color: $white-color;
    @media (max-width: 1199px) {
        p {
            font-size: 14px;
        }
    }
}

.game-result-box {
    width: 100%;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
    padding: 8px;
    .game-result-box-top {
        font-size: 16px;
        background-color: $primary-color;
        padding: 12px 0 14px 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        text-align: center;
        .cross-btn {
            position: absolute;
            width: 24px;
            height: 24px;
            right: 8px;
            top: 0%;
            background: $primary-color;
            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            transform: translateY(-50%);
        }
    }
    .game-result-box-mid {
        background-color: #011622;
        font-size: 12px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        padding: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        .game-winner {
            color: $primary-color;
            h5 {
                color: $primary-text-color;
            }
            img {
                filter: drop-shadow(0px 2px 4px $primary-color);
            }
        }
        .game-loser {
            color: $white-color;
        }
        h4 {
            font-size: 12px;
            padding-bottom: 7px;
            font-family: "Roboto";
            font-weight: normal;
        }
        h5 {
            font-size: 12px;
            padding-top: 5px;
        }
        img {
            margin: 0 4px;
        }
    }
}

// new classes add
.px-xs-0 {
    @media (max-width: 575px) {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

// Quantity
.quantity {
    position: relative;
    display: flex;
    flex-flow: column;
    .quantity-nav {
        position: relative;
        height: auto;
        font-size: 16px;
        color: $primary-text-color;
        line-height: normal;
        min-height: 24px;
        @media (max-width: 575px) {
            font-size: 14px;
        }
    }
    .quantity-button {
        position: relative;
        cursor: pointer;
        width: 24px;
        height: 24px;
        text-align: center;
        background: #0f2735;
        background: linear-gradient( 180deg, rgba(15, 40, 54, 0.8) 0%, rgba(17, 39, 51, 0.8) 100%);
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        background-position: center;
        &.quantity-up {
            position: absolute;
            top: -30px;
            background-image: url("/assets/images/plus-icon.svg");
            background-repeat: no-repeat;
        }
        &.quantity-down {
            position: absolute;
            bottom: -28px;
            background-image: url("/assets/images/minus-icon.svg");
            background-repeat: no-repeat;
        }
    }
}

.font-bold-12 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 12px;
    @media (max-width: 575px) {
        font-size: 10px;
    }
}

.font-16 {
    font-size: 16px;
    @media (max-width: 575px) {
        font-size: 14px;
    }
}

.mobile-layer {
    width: 100%;
    height: 64px;
    background: rgba(7, 28, 40, 0.7);
    position: absolute;
    bottom: 0;
    display: none;
    @media (max-width: 575px) {
        height: 52px;
        display: block;
    }
    @media (max-width: 991px) {
        display: block;
    }
}

.start-game-loading {
    max-width: 469px;
    height: 78px;
    border-radius: 20px;
    position: relative;
    padding: 1px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c3e664+0,c3e664+100&0.49+0,0+100 */
    background: -moz-linear-gradient( top, rgba(195, 230, 100, 0.49) 0%, rgba(195, 230, 100, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient( top, rgba(195, 230, 100, 0.49) 0%, rgba(195, 230, 100, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient( to bottom, rgba(195, 230, 100, 0.49) 0%, rgba(195, 230, 100, 0) 100%);
    overflow: hidden;
    margin: 50px auto 0;
    &:before {
        width: 47px;
        height: 45px;
        background-image: url("/assets/images/game-start-icon.png");
        position: absolute;
        left: 0;
        top: 50%;
        content: "";
        background-position: center;
        z-index: 1;
        transform: translate(15px, -50%);
    }
    &:after {
        width: 47px;
        height: 45px;
        background-image: url("/assets/images/game-start-icon.png");
        position: absolute;
        right: 0;
        top: 50%;
        content: "";
        background-position: center;
        z-index: 1;
        transform: translate(-15px, -50%);
    }
    .start-game-loading-inner {
        background: #011622;
        width: 100%;
        filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.25));
        height: 100%;
        border-radius: 20px;
        background-image: url("/assets/images/new-game-dots.svg");
        background-repeat: no-repeat;
        background-position: right;
        text-align: center;
        color: $primary-text-color;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
    }
}

.video-live-icon {
    position: absolute;
    top: 7px;
    right: 15px;
    z-index: 9;
    @media (max-width: 991px) {
        right: 10px;
    }
    img {
        max-height: 46px;
        min-height: 1px;
        -moz-animation: blink normal 2s infinite ease-in-out;
        /* Firefox */
        -webkit-animation: blink normal 2s infinite ease-in-out;
        /* Webkit */
        -ms-animation: blink normal 2s infinite ease-in-out;
        /* IE */
        animation: blink normal 2s infinite ease-in-out;
        @-moz-keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        @-webkit-keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        @keyframes blink {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        @media (max-width: 767px) {
            width: 37px;
        }
    }
}

.video-time {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    font-size: 28px;
    color: $white-color;
    z-index: 9;
    @media (max-width: 767px) {
        font-size: 14px;
    }
    .custum-input {
        .form-control {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#102e40+0,112733+100&0.8+0,0.8+100 */
            background: -moz-linear-gradient( top, rgba(16, 46, 64, 0.8) 0%, rgba(17, 39, 51, 0.8) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient( top, rgba(16, 46, 64, 0.8) 0%, rgba(17, 39, 51, 0.8) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient( to bottom, rgba(16, 46, 64, 0.8) 0%, rgba(17, 39, 51, 0.8) 100%);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
            -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
            -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
        }
    }
}

.quick-bet-right {
    width: 76px;
    background-image: url("/assets/images/bet-circle-1.svg");
    height: 78px;
    background-repeat: no-repeat;
    color: #020a0f;
    margin-top: -7px;
    &.active {
        background-image: url("/assets/images/bet-circle-2.svg");
    }
}

.video-card-section {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px 9px 8px;
    z-index: 9;
    p {
        color: white;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 12px;
        text-align: center;
        margin: 5px 0 !important;
        @media (max-width: 575px) {
            margin: 0px !important;
            font-size: 10px;
        }
    }
    @media (max-width: 575px) {
        padding: 5px;
    }
    @media (max-width: 991px) {
        left: calc(0px + 0px);
    }
}

.confati-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: hidden;
    .confati-layer {
        background: rgba(7, 28, 40, 0.4);
        width: 100%;
        height: 100%;
    }
    .confati-video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        color: $primary-text-color;
        font-size: 32px;
        video {
            width: 100%;
            height: auto;
        }
        p {
            position: absolute;
            text-align: center;
            width: 100%;
        }
    }
}

.pr-md,
.pl-md {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

@media (min-width: 768px) and (max-width: 991px) {
    .pl-md {
        padding-left: 5px !important;
    }
    .pr-md {
        padding-right: 5px !important;
    }
}

@media (min-width: 992px) {
    .pr-lg-xl-7 {
        padding-right: 7px !important;
    }
    .pl-lg-xl-7 {
        padding-left: 7px !important;
    }
}

@media (max-width: 576px) {
    .px-xs-5 {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}