$primary-color:#D3F37C;
$white-color:#ffffff;
$black-color:#000000;
$nova-orange:#eb4d2a;
$primary-text-color:#d8f87e;
$night-mode-color:#071C28;
$circle-one-color:#071c289c;
$silver-btn:#D0DFE3;
$gold-btn:#EFD57B;
$marjanda-btn:#49325C;
$grey-btn:rgb(65, 67, 68);
$bet-dark-grey:rgba(45, 85, 99, 0.4);
$bet-light-blue:rgb(13, 76, 96);
$bet-light-green:rgb(15, 128, 121);
$tabs-boder-color:#e9e9e9;