
.game-video-bg {
  .video-live-icon img {
    max-height: 40px;
  }
  .video-card-section {
    padding: 10px 20px 10px 10px;
    .race-cards {
      .players-title {
        margin-bottom: 5px;
        color: white;
        font-size: 13px;
        .badge {
          color: #0a1e29;
          font-weight: bold;
          position: relative;
          top: -3px;
        }
        @media (max-width: 576px) {
          text-align: center;
        }
      }
      .list {
        img {
          width: 30px;
          height: 41px;
          border-radius: 4px;
          margin: 2px;
        }
        .rotate-90 {
          margin-left: 11px;
        }
      }
    }
  }
}


.game-result-box {
  .game-result-box-top {
    padding: 12px 0 12px 0;
    .cross-btn {
      width: 28px;
      height: 28px;
      border: 1px solid #011622;
    }
  }
  .game-result-box-mid {
    .card-boxes {
      img {
        width: 29px;
        height: 41px;
        margin: 0 3px;
      }
    }
    .card-boxes.without-shadow {
      margin-top: 6px !important;
      img {
        filter: none;
      }
    }
    .game-winner {
      color: #d8ec2a;
      .rotate-90 {
        margin-left: 11px;
      }
      .banker-title {
        span.badge {
          color: #0a1e29;
          padding: 7px;
          margin-left: 5px;
          position: relative;
          top: -3px;
        }
      }
      .score.badge {
        border-radius: 12px;
        color: #0a1e29;
        font-size: 14px;
        font-weight: 500;
        padding: 5px 20px;
        margin: 6px 0;
      }
      h4 {
        font-size: 16px;
        color: #d9f97f;
        font-weight: 400;
      }
      h5 {
        color: white;
        font-size: 16px;
        font-weight: 400;
        .badge {
          margin-left: 3px;
          color: #0a1e29;
          font-size: 13px;
          padding: 7px;
        }
      }
    }
  }
}
