.black-jack-btn {
    color: $back-jack-text;
    border-radius: 20px;
    position: relative;
    border: none;
    background: linear-gradient(221.52deg, #011C42 9.87%, #DE49C5 129.19%);
    padding: 2px;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 20px;
    span {
        background: linear-gradient(180deg, #1A3863 0%, #011C42 100%);
        box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 100%;
        height: 100%;
    }
}

.info-close {
    width: 180px;
    height: 66px;
    background: linear-gradient(180.26deg, rgba(255, 255, 255, 0.4) 14.26%, rgba(255, 255, 255, 0.096) 128.45%);
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    color: #011622;
    font-size: 20px;
    border: none;
}

.genrate-btn {
    background: linear-gradient(180deg, #F21594 0%, #FB229B 28.13%, #FD349F 54.69%, #C1116C 100%);
    box-shadow: 0px 4px 4px rgba(255, 143, 205, 0.62);
}

.play-again {
    background: linear-gradient(180deg, #F51A97 0%, #FD309F 33.85%, #D21B7A 100%);
    box-shadow: 0px 4px 4px #FEB4CF;
    border-radius: 20px;
    border: none;
    height: 66px;
    font-family: "Inter";
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #011C42;
    margin-bottom: 15px;
}