@import "./variables.scss";
@import "./buttons.scss";
.games-controls {
    position: absolute;
    right: calc(0px + 25px);
    top: calc(0px + 15px);
    width: 40px;
    height: 160px;
    /* Note: backdrop-filter has minimal browser support */
    z-index: 9;
    border-radius: 16px;
    @media (max-width: 767px) {
        position: absolute;
        right: 50%;
        transform: translate(50%);
        width: 160px;
        height: 40px;
    }
    .games-controls-inner {
        background: linear-gradient(180.26deg, rgba(255, 255, 255, 0.5) 14.26%, rgba(255, 255, 255, 0.12) 128.45%);
        width: 100%;
        height: 100%;
        border-radius: 16px;
        backdrop-filter: blur(25px);
        @media (max-width: 767px) {
            flex-direction: row !important;
            justify-content: space-between !important;
            padding: 0 5px;
        }
    }
    .info-box {
        width: 327px;
        height: 462px;
        position: absolute;
        right: calc(0px + 55px);
        top: 0;
        /* Note: backdrop-filter has minimal browser support     r*/
        @media (max-width: 767px) {
            right: 50%;
            top: 43px;
            transform: translateX(50%);
            height: 380px;
        }
        .info-box-inner {
            background: linear-gradient(180.26deg, rgba(163, 187, 210, 0.8) 14.26%, rgba(146, 167, 199, 0.8) 128.45%);
            backdrop-filter: blur(25px);
            border-radius: 24px;
            width: 100%;
            height: 100%;
            padding: 30px;
            position: relative;
            .close-box-btn {
                position: absolute;
                right: -16px;
                top: -16px;
                background-image: url("/assets/images/blackjack-close-icon.svg");
                display: none;
                @media (max-width: 767px) {
                    display: block !important;
                }
            }
            h4 {
                font-size: 20px;
                color: #ffffff;
            }
        }
        .info-box-scroll {
            width: 100%;
            padding-right: 15px;
            overflow-y: scroll;
            height: 240px;
            font-family: 'Poppins';
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #ffffff;
            &::-webkit-scrollbar {
                width: 3px;
            }
            &::-webkit-scrollbar-thumb {
                background: #011532;
                border-radius: 20px;
            }
        }
        &.fair-box {
            .info-box-inner {
                background: linear-gradient(0.3deg, rgba(47, 180, 255, 0.33) 38.29%, rgba(41, 114, 163, 0.095) 76.33%);
                padding: 30px 15px;
                .client-seed {
                    width: 100%;
                    background: linear-gradient(180.26deg, rgba(255, 255, 255, 0.8) 14.26%, rgba(255, 255, 255, 0.192) 128.45%);
                    box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.25);
                    border-radius: 20px;
                    min-height: 83px;
                    word-break: break-all;
                    padding: 0 20px;
                    margin-bottom: 16px;
                    position: relative;
                    span {
                        font-size: 12px;
                    }
                    h5 {
                        font-size: 26px;
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
                        color: #00121F;
                    }
                    p {
                        font-size: 12px;
                        color: #00121F;
                        line-height: 16px;
                    }
                    .copy-text {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        transform: translateY(50%);
                        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
                        background-image: url(/assets/images/copy-text.svg);
                    }
                }
            }
        }
    }
}

.grey-opcty-text {
    color: rgba(39, 45, 73, 0.58);
    text-shadow: 0px 4px 10px #F3E0CC;
    text-transform: uppercase;
}

.controls-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    // background-color: #011C42;
    border: 3px solid #011C42;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: linear-gradient(180deg, #E9178D 0%, #FE7EC3 52.6%, #C21770 100%);
    margin: 2px 0;
    background-position: center;
    background-repeat: no-repeat;
}

.circle-slider-main {
    width: 100%;
    height: 215px;
    overflow: hidden;
}

.xs-pad-lr0 {
    @media (max-width: 575px) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.info-close-mobile {
    @media (max-width: 767px) {
        display: none !important;
    }
}