@media(min-width: 992px) {
    .gameslider {
        height: 193px;
    }
}

.video-card-section img {
    width: 35px;
    @media (max-width: 575px) {
        width: 20px;
    }
    @media (max-width: 767px) {
        width: 30px;
    }
}

::ng-deep #playerDiv {
    width: 100%;
    overflow: hidden !important;
    position: relative !important;
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0 0 52%;
    display: block;
    video {
        width: 100% !important;
        height: auto !important;
        @media (max-width: 991px) {
            margin-left: 0px !important;
            width: calc(100% - 0px) !important;
        }
    }
    @media (max-width: 1199px) {
        width: 100% !important;
        padding: 0 0px 56% 0px !important;
    }
    @media (min-width: 1200px) and (max-width: 1300px) {
        padding: 0 0 50vh;
        max-height: calc(50vh - 0px) !important;
    }
    @media (min-width: 1301px) {
        padding: 0 0 54vh;
        max-height: calc(54vh - 0px) !important;
    }
}

::ng-deep #controls-playerDiv {
    width: auto !important;
    display: flex !important;
    height: 8% !important;
    max-height: 96.875px !important;
    position: absolute !important;
    left: 0px !important;
    bottom: 0px !important;
    z-index: 1 !important;
    background-color: rgba(255, 255, 255, 0.4) !important;
    #playpause-controls-playerDiv,
    #time-controls-playerDiv,
    #fullscreen-controls-playerDiv {
        display: none !important;
    }
    @media (max-width: 991px) {
        margin-left: 0px !important;
    }
}

::ng-deep #middleView-playerDiv {
    #audio-playerDiv {
        display: none !important;
    }
}

.card-animation-box {
    width: 43px;
    height: 65px;
    margin: 0px;
    @media (max-width: 575px) {
        width: 20px;
        height: 30px;
        margin: 1px;
    }
    @media (max-width: 767px) {
        width: 35px;
        height: 45px;
        margin: 1px;
    }
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 3s ease 0s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner,
.flip-card.movecard .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.your-choice-layer {
    z-index: 9;
}

.your-choice-bg {
    background-image: url("/assets/images/your-choice-bg.svg");
    width: 100%;
    height: 120px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    background-color: rgba(7, 28, 40, 0.9);
    z-index: 1;
}