
.video-card-section{
  .y-card, .white-card{
    width: 35px;
    height: 50px;
    margin: 3px;
    border-radius: 3px;
  }
}

.game-result-box {
  .game-result-box-top {
    padding: 12px 0 12px 0;
    .cross-btn {
      width: 28px;
      height: 28px;
      border: 1px solid #011622;
    }
  }
  .game-result-box-mid {
    .card-boxes {
      img {
        width: 29px;
        height: 41px;
        margin: 0 3px;
      }
    }
    .card-boxes.without-shadow {
      margin-top: 6px !important;
      img {
        filter: none;
      }
    }
    .game-winner {
      color: #d8ec2a;
      h4 {
        font-size: 16px;
        color: #d9f97f;
        font-weight: 400;
      }
      h5 {
        color: white;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}