<div class="full-wrapper night-mode tp-mian">

    <!-- <div class="dots-topleft"></div>
    <div class="dots-topright"></div>
    <div class="dots-bottomleft"></div>
    <div class="dots-bottomright"></div> -->

    <app-header></app-header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="gameslider">
                    <app-dealer-slider></app-dealer-slider>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 px-xs-5 pr-lg-xl-7">
                <div class="game-video">
                    <app-live-games-bar></app-live-games-bar>
                    <div class="game-video-tp">
                        <h3>Card Race</h3>
                        <p>ID - TP-2826577</p>
                    </div>
                    <div class="game-video-bg">
                        <div class="video-live-icon">
                            <a href="#">
                                <img src="/assets/images/live-icon.svg" />
                            </a>
                        </div>
                        <div class="video-time">
                            <span class="font-futura-bold">0:00</span>
                        </div>
                        <div class="video-card-section">
                            <div class="race-cards">
                                <div class="list one">
                                    <img class="y-card" src="assets/images/heart-card-y.png">
                                    <ng-container *ngFor="let item of videoOverlayCards; let i = index">
                                        <img class="white-card" src="assets/images/card.svg"
                                            [ngClass]="{'active': i == videoOverlayCards.length - 1}">
                                    </ng-container>
                                </div>
                                <div class="list two">
                                    <img class="y-card" src="assets/images/heart-card-y.png">
                                    <ng-container *ngFor="let item of videoOverlayCards; let i = index">
                                        <img class="white-card" src="assets/images/card.svg"
                                            [ngClass]="{'active': i == videoOverlayCards.length - 1}">
                                    </ng-container>
                                </div>
                                <div class="list three">
                                    <img class="y-card" src="assets/images/heart-card-y.png">
                                    <ng-container *ngFor="let item of videoOverlayCards; let i = index">
                                        <img class="white-card" src="assets/images/card.svg"
                                            [ngClass]="{'active': i == videoOverlayCards.length - 1}">
                                    </ng-container>
                                </div>
                                <div class="list four">
                                    <img class="y-card" src="assets/images/heart-card-y.png">
                                    <ng-container *ngFor="let item of videoOverlayCards; let i = index">
                                        <img class="white-card" src="assets/images/card.svg"
                                            [ngClass]="{'active': i == videoOverlayCards.length - 1}">
                                    </ng-container>
                                </div>
                                <div class="list five">
                                    <img class="y-card" src="assets/images/heart-card-y.png">
                                    <ng-container *ngFor="let item of videoOverlayCards; let i = index">
                                        <img class="white-card" src="assets/images/card.svg"
                                            [ngClass]="{'active': i == videoOverlayCards.length - 1}">
                                    </ng-container>
                                </div>
                                <div class="list six">
                                    <img class="y-card" src="assets/images/heart-card-y.png">
                                    <ng-container *ngFor="let item of videoOverlayCards; let i = index">
                                        <img class="white-card" src="assets/images/card.svg"
                                            [ngClass]="{'active': i == videoOverlayCards.length - 1}">
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                        <app-video></app-video>

                        <div class="confati-section d-none">
                            <div class="confati-layer"></div>
                            <div
                                class="confati-video font-futura-bold d-flex justify-content-center flex-column lign-items-center ">
                                <video preload="true" autoplay loop muted>
                                    <source src="/assets/images/confatti.mp4" type="video/mp4" />
                                </video>
                                <p class="mb-0 text-uppercase">You Have Won!!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-4 px-xs-5 pl-lg-xl-7">
                <div class="game-right-side">
                    <div class="game-limit-proft">
                        <span>Stake Limit : 0 - 10 </span>
                        <span>Max Profit : 500</span>
                    </div>
                    <div class="start-game-loading d-none">
                        <div class="start-game-loading-inner d-flex align-items-center justify-content-center">
                            <span class="loading-dots"></span>
                            <p class="mb-0">New Game Starting..</p>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-12 pr-md">
                            <ng-container *ngIf="isMediumScreen && placeBetCardClone">
                                <ng-container *ngTemplateOutlet="forScrollFirstCard">
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="!isMediumScreen && !placeBetCardClone && !placeBetCardState">
                                <ng-container *ngTemplateOutlet="forScrollFirstCard">
                                </ng-container>
                            </ng-container>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-12 pl-md">
                            <ng-container
                                *ngIf="!isMediumScreen && placeBetCard && placeBetCardState && !placeBetCardClone">
                                <ng-container *ngTemplateOutlet="placeBetCardTemplate">
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="isMediumScreen && placeBetCardClone && !placeBetCard">
                                <ng-container *ngTemplateOutlet="placeBetCardTemplate">
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="book-btn-wrap">
            <div class="book-btn">
                <div class="circle1">
                    <div class="circle2" (click)="toggleStatsCard()"
                        [ngClass]="{'active': isAccordionOpen && isScreenLessThanLarge}">
                        <svg width="43" height="36" viewBox="0 0 43 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M2.03074 24.5601L25.7809 12.9104C25.8798 12.8619 26.0036 12.8537 26.0976 12.8895L40.5985 18.414C40.7679 18.4785 40.7632 18.6491 40.5896 18.7412L16.8452 31.3365C16.7396 31.3925 16.6018 31.4007 16.5034 31.3568L1.99676 24.8867C1.83692 24.8154 1.85449 24.6465 2.03074 24.5601Z"
                                fill="url(#paint0_linear)" stroke="#011622" stroke-width="1.5" />
                            <path d="M17.0867 23.5177L3.5717 17.4899L26.267 6.35763L39.7517 11.495L17.0867 23.5177Z"
                                fill="#04002C" stroke="#011622" stroke-width="3" />
                            <defs>
                                <linearGradient id="paint0_linear" x1="9.27805" y1="16.2442" x2="25.8818" y2="33.9893"
                                    gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#C4E46C" />
                                    <stop offset="1" stop-color="#A3C050" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                </div>
                <div class="game-tabs" *ngIf="displayStatsCard">
                    <div class="game-tabs-inner">
                        <ngb-accordion [closeOthers]="true" activeIds="static-1">
                            <ngb-panel id="static-1" title="Quick Bet" class="font-futura-bold">
                                <ng-template ngbPanelContent>
                                    <div class="quick-bet-wrap">
                                        <p>
                                            QuickBet mode is on! After single click on any selection, it will place your
                                            bet immediately. See all your bets on
                                        </p>
                                        <div class="switch-toggle">
                                            <label class="switch">
                                                <input type="checkbox" checked>
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                        <div class="bet-buttons pb-3">
                                            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic"
                                                [(ngModel)]="model">
                                                <label ngbButtonLabel class="bet-radio-btn font-futura-bold">
                                                    <input ngbButton type="radio" value="1"> 50
                                                </label>
                                                <label ngbButtonLabel class="bet-radio-btn font-futura-bold">
                                                    <input ngbButton type="radio" value="2">100
                                                </label>
                                                <label ngbButtonLabel class="bet-radio-btn font-futura-bold">
                                                    <input ngbButton type="radio" value="3">200
                                                </label>
                                                <label ngbButtonLabel class="bet-radio-btn font-futura-bold">
                                                    <input ngbButton type="radio" value="4">400
                                                </label>
                                                <label ngbButtonLabel class="bet-radio-btn font-futura-bold">
                                                    <input ngbButton type="radio" value="5">800
                                                </label>
                                                <label ngbButtonLabel class="bet-radio-btn font-futura-bold">
                                                    <input ngbButton type="radio" value="6">1600
                                                </label>
                                            </div>
                                        </div>
                                        <div class="custum-input">
                                            <div class="form-group pb-3">
                                                <input type="email" class="form-control" placeholder="Custom Amount">
                                            </div>
                                            <p>Quick Bet is active with Rs 20 bet</p>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="static-2" title="Bet Slips" class="font-futura-bold">
                                <ng-template ngbPanelContent>
                                    <div class="quick-bet-wrap">
                                        <p class="mb-0">Your betting history is as follows:</p>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Live Teen Patti</th>
                                                    <th scope="col">Odds</th>
                                                    <th scope="col">Stake</th>
                                                    <th scope="col">P/L</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of bettingHistoryTable">
                                                    <td>
                                                        Live
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="static-3">
                                <ng-template ngbPanelTitle>
                                    <span>Game Results</span>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="quick-bet-wrap pb-5">
                                        <div class="game-result-wrap">
                                            <ng-container *ngFor="let item of gameResultCircles">
                                                <div class="font-futura-bold game-result-circle"
                                                    [ngClass]="{'active': item.active}">
                                                    {{item.name}}
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div class="game-result-box d-flex w-100 flex-column">
                                            <div
                                                class="game-result-box-top w-100 position-relative d-flex font-futura-medium align-items-center justify-content-center">
                                                <p class="mb-0 mr-1">Live Card Race</p>
                                                <p class="mb-0">(ID - TP-2826577)</p>
                                                <span
                                                    class="cross-btn d-flex align-items-center justify-content-center">X</span>
                                            </div>
                                            <div class="game-result-box-mid d-flex flex-column text-center">
                                                <div class="game-winner">
                                                    <h4 class="mb-0 pb-0">Winner : Heart</h4>
                                                    <div
                                                        class="card-boxes d-flex flex-row text-center justify-content-center my-3">
                                                        <img src="/assets/images/card.svg"
                                                            *ngFor="let item of resultCardsInAccordian">
                                                    </div>
                                                    <h5 class="mb-2">Hand : Odd</h5>
                                                    <h5 class="mb-2">Color : Red</h5>
                                                    <br>
                                                    <h5 class="mb-0 pb-0">Club</h5>
                                                    <div
                                                        class="card-boxes without-shadow d-flex flex-row text-center justify-content-center my-3">
                                                        <img src="/assets/images/card.svg"
                                                            *ngFor="let item of resultCardsInAccordian">
                                                    </div>
                                                    <h5 class="mb-0 pb-0">Spade</h5>
                                                    <div
                                                        class="card-boxes without-shadow d-flex flex-row text-center justify-content-center my-3">
                                                        <img src="/assets/images/card.svg"
                                                            *ngFor="let item of resultCardsInAccordian">
                                                    </div>
                                                    <h5 class="mb-0 pb-0">Diamond</h5>
                                                    <div
                                                        class="card-boxes without-shadow d-flex flex-row text-center justify-content-center my-3">
                                                        <img src="/assets/images/card.svg"
                                                            *ngFor="let item of resultCardsInAccordian">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        ​
                                    </div>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #forScrollFirstCard>
    <div class="players for-scroll">
        <div style="display: none !important;"
            class="layer next-game-msg d-flex justify-content-center align-items-center">
            <div class="next-game-content">
                <p class="font-futura-bold mb-0">Next game will <br>begin shortly.</p>
            </div>
        </div>
        <div class="game-btns-box">
            <div class="first-btn-row four-btns">
                <button class="dark-three-gardent tlb-radius">
                    <span class="font-futura-bold">Player A</span>
                    <span class="font-montserrat-semibold">0.00</span>
                </button>
                <button class="dark-three-gardent" (click)="displayPlaceBetCard()">
                    <span class="font-futura-bold">Back</span>
                    <span class="font-montserrat-semibold">0.00</span>
                </button>
                <button class="dark-three-gardent">
                    <span class="font-futura-bold">Back</span>
                    <span class="font-montserrat-semibold">0.00</span>
                </button>
                <button class="dark-three-gardent trb-radius">
                    <span class="font-futura-bold">Player B</span>
                    <span class="font-montserrat-semibold">0.00</span>
                </button>
            </div>
            <div class="first-btn-row four-btns">
                <button class="dark-three-gardent2 blb-radius">
                    <span class="font-futura-bold">Player A</span>
                    <span class="font-montserrat-semibold">0.00</span>
                </button>
                <button class="dark-three-gardent2">
                    <span class="font-futura-bold">Back</span>
                    <span class="font-montserrat-semibold">0.00</span>
                </button>
                <button class="dark-three-gardent2">
                    <span class="font-futura-bold">Back</span>
                    <span class="font-montserrat-semibold">0.00</span>
                </button>
                <button class="dark-three-gardent2 brb-radius">
                    <span class="font-futura-bold">Player B</span>
                    <span class="font-montserrat-semibold">0.00</span>
                </button>
            </div>
        </div>
        <h5 class="text-center font-futura-medium">Winner Player Hand</h5>
        <div class="game-btns-box color-black">
            <div class="first-btn-row two-btns">
                <button class="dark-three-gardent4 tlb-radius">
                    <div class="btn-border tlb-radius">
                        <span class="font-montserrat-bold">Pair</span>
                        <span class="font-montserrat-bold fs14">4</span>
                        <span class="font-montserrat-semibold span-color">0.00</span>
                    </div>
                </button>
                <button class="dark-three-gardent4 trb-radius">
                    <div class="btn-border trb-radius">
                        <span class="font-montserrat-bold">Sequence</span>
                        <span class="font-montserrat-bold fs14">4</span>
                        <span class="font-montserrat-semibold span-color">0.00</span>
                    </div>
                </button>
            </div>
            <div class="first-btn-row two-btns">
                <button class="dark-three-gardent4 blb-radius">
                    <div class="btn-border blb-radius">
                        <span class="font-montserrat-bold">Pair</span>
                        <span class="font-montserrat-bold fs14">4</span>
                        <span class="font-montserrat-semibold span-color">0.00</span>
                    </div>
                </button>
                <button class="dark-three-gardent4 brb-radius">
                    <div class="btn-border brb-radius">
                        <span class="font-montserrat-bold">Sequence</span>
                        <span class="font-montserrat-bold fs14">4</span>
                        <span class="font-montserrat-semibold span-color">0.00</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #placeBetCardTemplate>
    <div class="place-bet for-scroll d-flex flex-column">
        <div style="display: none !important;" class="layer next-game-msg your-choice-layer d-flex  ">
            <div class="your-choice-bg d-flex align-items-center tlb-radius trb-radius justify-content-center">
                <p class="mb-0 font-futura-bold">Waiting for your choice</p>
            </div>
        </div>

        <div class="place-bet-top d-flex">
            <div class="back-box flex-grow-2" (click)="onBackFromPlaceBetCard()">
                <span class="font-futura-bold">Back</span>
                <span class="font-normal">0.00</span>
            </div>
            <div class="d-flex flex-row justify-content-around pl-3 flex-grow-1 ">
                <div class="player-box d-flex flex-column">
                    <span class="font-futura-medium font-16">Player B</span>
                    <span class="font-bold-12">Bet for</span>
                </div>
                <div class="odds-box d-flex flex-column">
                    <span class="font-futura-medium font-16">1.94</span>
                    <span class="font-bold-12">Odds</span>
                </div>
                <div class="stack-box d-flex flex-column">
                    <div class="quantity">
                        <div class="quantity-button quantity-up"></div>
                        <div class="quantity-nav d-flex flex-column font-futura-medium">
                            10
                        </div>
                        <span class="font-bold-12">Stake</span>
                        <div class="quantity-button quantity-down"></div>
                    </div>
                </div>
                <div class="profit-box d-flex flex-column">
                    <span class="font-futura-medium font-16">9.40</span>
                    <span class="font-bold-12">Profit</span>
                </div>
            </div>
        </div>
        <div class="place-bet-middle pl-4 d-flex flex-column">
            <div class="place-bet-slider position-relative">

                <app-bet-slider></app-bet-slider>
                <div class="straight-line pr-4">
                    <span></span>
                </div>
            </div>
            <div class="place-bet-input d-flex pr-4 flex-column">
                <div class="custum-input py-2">
                    <div class="form-group pb-3">
                        <input type="email" class="form-control" placeholder="Custom Amount" />
                    </div>
                </div>
                <div class="cancel-bet-section d-flex flex-row mb-4">
                    <button class="genral-btn grey-btn" (click)="onBackFromPlaceBetCard()">
                        Cancel Bet
                    </button>
                    <button class="genral-btn place-btn">Place Bet</button>
                </div>
            </div>
            <div class="quick-bet d-flex pr-4">
                <div class="quick-bet-left d-inline-flex align-items-center">
                    <div class="switch-toggle">
                        <label class="switch">
                            <input type="checkbox" checked />
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <p class="font-medium mb-0 pl-3 pl-md-1">Quick Bet On</p>
                </div>
                <div class="quick-bet-right d-flex align-items-center justify-content-center active">
                    10
                </div>
            </div>
        </div>
    </div>
</ng-template>