.swiper-container {
    .slider-wrap {
        width: 100%;
        text-align: center;
        float: left;
        .slider-bx {
            width: 100%;
            height: 80px;
            background: #0d212a;
            background: linear-gradient( 180deg, rgba(241, 255, 200, 0) 0%, #9D9D9D 100%);
            border-radius: 10px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin-bottom: 7px;
            transition: all 0.3s ease;
            @media (min-width: 992px) {
                img {
                    width: 100%;
                    height: 70px;
                }
            }
            @media (min-width: 992px) and (max-width: 1199px) {
                // height: 146px;
            }
            @media (max-width: 991px) {
                height: 80px;
                img {
                    width: 50px;
                }
            }
            @media (max-width: 767px) {
                height: 64px;
                img {
                    width: 41px;
                }
            }
            &:hover {
                background: linear-gradient(180deg, rgba(195, 219, 126, 0) 0%, #C9FE38 73.96%);
            }
        }
        p {
            font-size: 16px;
            line-height: 18px;
            margin: 0;
            color: #ffffff;
            @media (max-width: 991px) {
                font-size: 14px;
            }
        }
        &:hover {
            text-decoration: none;
        }
    }
}

.swiper-outer {
    position: relative;
    padding: 0 50px;
    @media (max-width: 767px) {
        padding: 0;
    }
}

:host-context(body.day-mode) {
    .slider-wrap {
        p {
            color: #22433F;
        }
    }
}