<div class="swiper-outer">
    <swiper [config]="config" [breakpoints]="breakpoints" (swiper)="sliderMove($event)">

        <ng-container *ngFor="let slide of slides">
            <ng-template swiperSlide>
                <a href="javascript:void(0);" class="slider-wrap">
                    <div class="slider-bx">
                        <img src="/assets/images/girl1.svg">
                    </div>
                    <p class="font-futura-medium">{{slide.name}}</p>
                </a>
            </ng-template>
        </ng-container>

        <div class="swiper-pagination" slot="pagination"></div>
    </swiper>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>