<div class="full-wrapper night-mode tp-mian">
    <div class="dots-topleft"></div>
    <div class="dots-topright"></div>
    <div class="dots-bottomleft"></div>
    <div class="dots-bottomright"></div>
    <app-header></app-header>
    <app-live-games-bar></app-live-games-bar>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="gameslider">
                    <app-dealer-slider></app-dealer-slider>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-6 px-xs-0 px-sm-0">
                <div class="game-video">
                    <div class="game-video-tp px-xs-0">
                        <h3>Teen Patti</h3>
                        <p>ID - TP-2826577</p>
                    </div>
                    <div class="game-video-bg">
                        <div class="video-live-icon">
                            <a href="#">
                                <img src="/assets/images/live-icon.svg" />
                            </a>
                        </div>
                        <div class="video-time">
                            <span class="font-futura-bold">0:00</span>
                        </div>
                        <div class="video-card-section">
                            <div class="video-card-player-row d-flex flex-column">

                                <div class="player-card-row d-inline-flex flex-row">
                                    <img src="/assets/images/card-large.svg" />

                                </div>
                            </div>

                        </div>
                        <div id="playerDiv"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-6">
                <div class="game-right-side">
                    <div class="game-limit-proft">
                        <span>Stake Limit : 0 - 10 </span>
                        <span>Max Profit : 500</span>
                    </div>
                    <div class="row m-0">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-12 p-0 pr-md pr-md-2">
                            <ng-container *ngIf="!placeBetCard">
                                <ng-container *ngTemplateOutlet="forScrollFirstCard">
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="isMediumScreen">
                                <ng-container *ngTemplateOutlet="forScrollFirstCard">
                                </ng-container>
                            </ng-container>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-12 p-0 pl-md pl-md-2">
                            <div class="place-bet for-scroll d-flex flex-column" *ngIf="placeBetCard">
                                <div class="place-bet-top d-flex">
                                    <div class="back-box flex-grow-2">
                                        <span class="font-futura-bold">Back</span>
                                        <span class="font-normal">0.00</span>
                                    </div>
                                    <div class="d-flex flex-row justify-content-around pl-3 flex-grow-1 ">
                                        <div class="player-box d-flex flex-column">
                                            <span class="font-futura-medium font-16">Player B</span>
                                            <span class="font-bold-12">Bet for</span>
                                        </div>
                                        <div class="odds-box d-flex flex-column">
                                            <span class="font-futura-medium font-16">1.94</span>
                                            <span class="font-bold-12">Odds</span>
                                        </div>
                                        <div class="stack-box d-flex flex-column">
                                            <div class="quantity">
                                                <div class="quantity-button quantity-up"></div>
                                                <div class="quantity-nav d-flex flex-column font-futura-medium">
                                                    10
                                                </div>
                                                <span class="font-bold-12">stack</span>
                                                <div class="quantity-button quantity-down"></div>
                                            </div>
                                        </div>
                                        <div class="profit-box d-flex flex-column">
                                            <span class="font-futura-medium font-16">9.40</span>
                                            <span class="font-bold-12">Profit</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="place-bet-middle pl-4 d-flex flex-column">
                                    <div class="place-bet-slider position-relative">
                                        <app-bet-slider></app-bet-slider>
                                        <div class="straight-line pr-4">
                                            <span></span>
                                        </div>
                                    </div>
                                    <div class="place-bet-input d-flex pr-4 flex-column">
                                        <div class="custum-input py-2">
                                            <div class="form-group pb-3">
                                                <input type="email" class="form-control" placeholder="Custom Amount" />
                                            </div>
                                        </div>
                                        <div class="cancel-bet-section d-flex flex-row mb-4">
                                            <button class="genral-btn grey-btn" (click)="displayPlaceBetCard(false)">
                                  Cancel Bet
                                  </button>
                                            <button class="genral-btn place-btn">Place Bet</button>
                                        </div>
                                    </div>
                                    <div class="quick-bet d-flex pr-4">
                                        <div class="quick-bet-left d-inline-flex align-items-center">
                                            <div class="switch-toggle">
                                                <label class="switch">
                                     <input type="checkbox" checked />
                                     <span class="slider round"></span>
                                     </label>
                                            </div>
                                            <p class="font-medium mb-0 pl-3 pl-md-1">Quick Bet On</p>
                                        </div>
                                        <div class="quick-bet-right d-flex align-items-center justify-content-center active">
                                            10
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="book-btn-wrap">
            <div class="book-btn">
                <div class="circle1"></div>
                <div class="circle2" (click)="toggleStatsCard()" [ngClass]="{'active': isAccordionOpen && isScreenLessThanLarge}">
                    <svg width=" 43 " height="36 " viewBox="0 0 43 36 " fill="none " xmlns="http://www.w3.org/2000/svg ">
                <path
                   d="M2.03074 24.5601L25.7809 12.9104C25.8798 12.8619 26.0036 12.8537 26.0976 12.8895L40.5985 18.414C40.7679 18.4785 40.7632 18.6491 40.5896 18.7412L16.8452 31.3365C16.7396 31.3925 16.6018 31.4007 16.5034 31.3568L1.99676
                   24.8867C1.83692 24.8154 1.85449 24.6465 2.03074 24.5601Z "
                   fill="url(#paint0_linear) "
                   stroke="#011622 "
                   stroke-width="1.5 "
                   />
                <path
                   d="M17.0867 23.5177L3.5717 17.4899L26.267 6.35763L39.7517 11.495L17.0867 23.5177Z "
                   fill="#04002C "
                   stroke="#011622 "
                   stroke-width="3 "
                   />
                <defs>
                   <linearGradient
                      id="paint0_linear "
                      x1="9.27805 "
                      y1="16.2442 "
                      x2="25.8818 "
                      y2="33.9893 "
                      gradientUnits="userSpaceOnUse "
                      >
                      <stop stop-color="#C4E46C " />
                      <stop offset="1 " stop-color="#A3C050 " />
                   </linearGradient>
                </defs>
             </svg>
                </div>
                <div class="game-tabs" *ngIf="displayStatsCard">
                    <div class="game-tabs-inner">
                        <ngb-accordion [closeOthers]="true" activeIds="static-1">
                            <ngb-panel id="static-1" title="Quick Bet" class="font-futura-bold">
                                <ng-template ngbPanelContent>
                                    <div class="quick-bet-wrap">
                                        <p>
                                            QuickBet mode is on! After single click on any selection, it will place your bet immediately. See all your bets on
                                        </p>
                                        <div class="switch-toggle">
                                            <label class="switch">
                               <input type="checkbox" checked />
                               <span class="slider round"></span>
                               </label>
                                        </div>
                                        <div class="bet-buttons pb-3">
                                            <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
                                                <label ngbButtonLabel class="bet-radio-btn font-futura-bold">
                               <input ngbButton type="radio" value="1" /> 50
                               </label>
                                                <label ngbButtonLabel class="bet-radio-btn font-futura-bold">
                               <input ngbButton type="radio" value="2" />100
                               </label>
                                                <label ngbButtonLabel class="bet-radio-btn font-futura-bold">
                               <input ngbButton type="radio" value="3" />200
                               </label>
                                                <label ngbButtonLabel class="bet-radio-btn font-futura-bold">
                               <input ngbButton type="radio" value="4" />400
                               </label>
                                                <label ngbButtonLabel class="bet-radio-btn font-futura-bold">
                               <input ngbButton type="radio" value="5" />800
                               </label>
                                                <label ngbButtonLabel class="bet-radio-btn font-futura-bold">
                               <input ngbButton type="radio" value="6" />1600
                               </label>
                                            </div>
                                        </div>
                                        <div class="custum-input">
                                            <div class="form-group pb-3">
                                                <input type="email" class="form-control" placeholder="Custom Amount" />
                                            </div>
                                            <p>Quick Bet is active with Rs 20 bet</p>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="static-2" title="Bet Slips" class="font-futura-bold">
                                <ng-template ngbPanelContent>
                                    <div class="quick-bet-wrap">
                                        <p class="mb-0">Your betting history is as follows:</p>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Live Teen Patti</th>
                                                    <th scope="col">Odds</th>
                                                    <th scope="col">Stake</th>
                                                    <th scope="col">P/L</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Live</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Live</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Live</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Live</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Live</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Live</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Live</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="static-3">
                                <ng-template ngbPanelTitle>
                                    <span>Game Results</span>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <div class="quick-bet-wrap pb-5">
                                        <div class="game-result-wrap">
                                            <ng-container *ngFor="let item of gameResultCircles">
                                                <div class="font-futura-bold game-result-circle" [ngClass]="{ active: item.active }">
                                                    {{ item.name }}
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div class="game-result-box d-flex w-100 flex-column">
                                            <div class="game-result-box-top w-100 position-relative d-flex flex-column font-futura-medium align-items-center justify-content-center">
                                                <p class="mb-0">Live Akbar Romeo Walter (ID - TP-2826577)</p>
                                                <span class="cross-btn d-flex align-items-center justify-content-center">X</span
                >
             </div>
             <div
                class="game-result-box-mid d-flex flex-column text-center"
                >
             <div class="game-winner pb-3">
             <h4 class="mb-0">Romeo</h4>
             <div
                class="card-boxes d-flex flex-row text-center justify-content-center"
                >
             <img src="/assets/images/card.svg " />
             </div>
            
             </div>
             <div class="game-loser">
             <h4 class="mb-0">HAND - EVEN BLACK</h4>
             <p>ABOVE 7</p>
             
             
             </div>
             </div>
             </div>
             </div>
             </ng-template>
             </ngb-panel>
             </ngb-accordion>
          </div>
       </div>
    </div>
 </div>
 </div>
 <div class="mobile-layer"></div>
 </div>
 <!-- (click)="tabstatus=!tabstatus " -->
 <!-- *ngIf="tabstatus " -->
 <ng-template #forScrollFirstCard>
    <div class="players for-scroll">
       <div
          style="display: none !important"
          class="layer next-game-msg d-flex justify-content-center align-items-center"
          >
          <div class="next-game-content">
             <p class="font-futura-bold mb-0">Next game will <br />begin shortly.</p>
          </div>
       </div>
       <div class="start-game-loading d-none">
          <div class="start-game-loading-inner d-flex align-items-center justify-content-center">
             <span class="loading-dots"></span>
                                                <p class="mb-0">New Game Starting..</p>
                                            </div>
                                        </div>
                                        <div class="game-btns-box">
                                            <div class="first-btn-row three-btns-row">
                                                <button class="dark-three-gardent22 tlb-radius">
             <span class="font-futura-bold">Akber</span>
             <span class="font-montserrat-semibold">0.00</span>
             </button>
                                                <button class="dark-three-gardent22">
             <span class="font-futura-bold">Romeo</span>
             <span class="font-montserrat-semibold">0.00</span>
             </button>
                                                <button class="dark-three-gardent22 trb-radius">
             <span class="font-futura-bold">Walter</span>
             <span class="font-montserrat-semibold">0.00</span>
             </button>
                                            </div>
                                            <div class="first-btn-row three-btns-row">
                                                <button class="dark-three-gardent2" (click)="displayPlaceBetCard(true)">
             <span class="font-futura-bold">Back</span>
             <span class="font-montserrat-semibold">0.00</span>
             </button>
                                                <button class="dark-three-gardent2">
             <span class="font-futura-bold">Back</span>
             <span class="font-montserrat-semibold">0.00</span>
             </button>
                                                <button class="dark-three-gardent2">
                <span class="font-futura-bold">Back</span>
                <span class="font-montserrat-semibold">0.00</span>
                </button>

                                            </div>
                                            <div class="first-btn-row three-btns-row">
                                                <button class="dark-three-gardent3 blb-radius">
             <span class="font-futura-bold">Lay</span>
             <span class="font-montserrat-semibold">0.00</span>
             </button>
                                                <button class="dark-three-gardent3">
                <span class="font-futura-bold">Back</span>
                <span class="font-montserrat-semibold">0.00</span>
                </button>
                                                <button class="dark-three-gardent3 brb-radius">
             <span class="font-futura-bold">Lay</span>
             <span class="font-montserrat-semibold">0.00</span>
             </button>
                                            </div>
                                        </div>
                                        <h5 class="text-center font-futura-medium">Winner Player Hand</h5>
                                        <div class="game-btns-box color-black">
                                            <div class="first-btn-row three-btns-row">
                                                <button class="dark-three-gardent4 tlb-radius">
                <div class="btn-border tlb-radius">
                   <span class="font-montserrat-bold">Even</span>
                   <span class="font-montserrat-bold fs14">4</span>
                   <span class="font-montserrat-semibold span-color">0.00</span>
                </div>
             </button>
                                                <button class="dark-three-gardent4">
                <div class="btn-border">
                   <span class="font-montserrat-bold">Odd</span>
                   <span class="font-montserrat-bold fs14">4</span>
                   <span class="font-montserrat-semibold span-color">0.00</span>
                </div>
             </button>
                                                <button class="dark-three-gardent4 trb-radius">
                <div class="btn-border trb-radius">
                   <span class="font-montserrat-bold">Red Suit</span>
                   <span class="font-montserrat-bold fs14">4</span>
                   <span class="font-montserrat-semibold span-color">0.00</span>
                </div>
             </button>
                                            </div>
                                            <div class="first-btn-row three-btns-row">
                                                <button class="dark-three-gardent4 ">
                <div class="btn-border">
                   <span class="font-montserrat-bold">Black Suit</span>
                   <span class="font-montserrat-bold fs14">4</span>
                   <span class="font-montserrat-semibold span-color">0.00</span>
                </div>
             </button>
                                                <button class="dark-three-gardent4">
                <div class="btn-border">
                   <span class="font-montserrat-bold">Below 7</span>
                   <span class="font-montserrat-bold fs14">4</span>
                   <span class="font-montserrat-semibold span-color">0.00</span>
                </div>
             </button>
                                                <button class="dark-three-gardent4">
                <div class="btn-border">
                   <span class="font-montserrat-bold">Exactly 7</span>
                   <span class="font-montserrat-bold fs14">4</span>
                   <span class="font-montserrat-semibold span-color">0.00</span>
                </div>
             </button>
                                            </div>
                                            <div class="first-btn-row">
                                                <button class="dark-three-gardent4 blb-radius w-100">
                <div class="btn-border blb-radius">
                   <span class="font-montserrat-bold">Above 7</span>
                   <span class="font-montserrat-bold fs14">2</span>
                   <span class="font-montserrat-semibold span-color">0.00</span>
                </div>
             </button>

                                            </div>
                                        </div>
                                    </div>
                                </ng-template>