::ng-deep #playerDiv {
    width: 100%;
    overflow: hidden !important;
    position: relative !important;
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0 0 52%;
    display: block;
    video {
        width: 100% !important;
        height: auto !important;
        @media (max-width: 991px) {
            margin-left: 0px !important;
            width: calc(100% - 20px) !important;
        }
    }
    @media (max-width: 991px) {
        width: 100% !important;
        padding: 0 20px 52% 20px !important;
    }
    @media (min-width: 992px) {
        padding: 0 0 50%;
        max-height: calc(46.7vh - 37.5px) !important;
    }
}

 ::ng-deep #controls-playerDiv {
    width: auto !important;
    display: flex !important;
    height: 8% !important;
    max-height: 96.875px !important;
    position: absolute !important;
    left: 0px !important;
    bottom: 0px !important;
    z-index: 1 !important;
    background-color: rgba(255, 255, 255, 0.4) !important;
    #playpause-controls-playerDiv,
    #time-controls-playerDiv,
    #fullscreen-controls-playerDiv {
        display: none !important;
    }
    @media (max-width: 991px) {
        margin-left: 10px !important;
    }
}

::ng-deep #middleView-playerDiv {
    #audio-playerDiv {
        display: none !important;
    }
}