<div class="rotate-slide-wrap">
    <a class="bet-arrow-left bet-arrows" (click)="goLeft()"></a>
    <a class="bet-arrow-right bet-arrows" (click)="goRight()"></a>
    <div class="rotate-slide-outer-wrap">
        <a class="rotate-slide-wrap-inner" (click)="showSideButtonsOnMobile()">
        Bet Now
    </a> ​
        <div class="rotate-slide-item four active">
            <span class="active-bet">{{slideData[0]}}</span>
        </div>
        <div class="rotate-slide-item five">
            <div class="rotate-slide-item-inner">
                <span>{{slideData[1]}}</span>
            </div>
        </div>
        <div class="rotate-slide-item two">
            <div class="rotate-slide-item-inner">
                <span>{{slideData[2]}}</span>
            </div>
        </div>
        <div class="rotate-slide-item eight">
            <div class="rotate-slide-item-inner">
                <span>{{slideData[3]}}</span>
            </div>
        </div>
        <div class="rotate-slide-item three">
            <div class="rotate-slide-item-inner">
                <span>{{slideData[4]}}</span>
            </div>
        </div>
        <div class="rotate-slide-item seven">
            <div class="rotate-slide-item-inner">
                <span>{{slideData[5]}}</span>
            </div>
        </div>
        <div class="rotate-slide-item one">
            <div class="rotate-slide-item-inner">
                <span>{{slideData[6]}}</span>
            </div>
        </div>
        <div class="rotate-slide-item six">
            <div class="rotate-slide-item-inner">
                <span>{{slideData[7]}}</span>
            </div>
        </div>
    </div>
</div>