.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.slider-origin {
    display: inline-block;
    position: relative;
}

.slider-inner {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    border-radius: 50%;
    background: #011C42;
    border: 1px solid #0B3A7C;
    position: relative;
}

.slider-item {
    width: 74px;
    height: 100px;
    border-left: 1px solid #205298;
    border-right: 1px solid #205298;
    position: absolute;
    bottom: 200%;
    left: 50%;
    margin-left: -37px;
    cursor: pointer;
    transform-origin: center 175%;
    -webkit-transform-origin: center 175%;
    -ms-transform-origin: center 175%;
    -moz-transform-origin: center 175%;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    text-align: left;
    color: #fff;
    padding: 7px;
    box-sizing: border-box;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
    -ms-user-select: none;
    user-select: none;
}

.slider-item.active {
    background: linear-gradient(180deg, #DAF445 0%, #D7F547 29.17%, #B5F661 52.08%, #65FDAD 100%);
    box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
    cursor: default;
}

.rotate-slide-wrap {
    width: 375px;
    height: 375px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    background: #011C42;
    border: 1px solid #0B3A7C;
    z-index: 1;
    .rotate-slide-item {
        border-top: 1px solid #205298;
        border-bottom: 1px solid #205298;
    }
    .rotate-slide-outer-wrap {
        width: 375px;
        height: 375px;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
    }
}

.rotate-slide-wrap-inner {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(224.73deg, #FF149D 8.89%, #950E46 94.31%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Inter";
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-top: 50px;
    cursor: pointer;
    text-decoration: none;
    z-index: 9;
    &:after {
        width: 26px;
        height: 28px;
        content: "";
        background-image: url("/assets/images/active-bet-icon.svg");
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -27px);
        display: none;
    }
}

.rotate-slide-item {
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}

.rotate-slide-item.one {
    clip-path: polygon(0% 92%, 100% 50%, 0% 8%);
    top: 92px;
    left: 0;
    .rotate-slide-item-inner {
        padding-right: 90px;
    }
}

.rotate-slide-item.two {
    clip-path: polygon(100% 92%, 0% 50%, 100% 8%);
    top: 92px;
    right: 0;
    .rotate-slide-item-inner {
        padding-left: 90px;
    }
}

.rotate-slide-item.three {
    clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
    left: 92px;
    bottom: 0;
    .rotate-slide-item-inner {
        transform: translateX(0px);
        padding-top: 90px;
    }
}

.rotate-slide-item.four {
    clip-path: polygon(50% 100%, 92% 0%, 8% 0%);
    top: 0px;
    left: 92px;
    .rotate-slide-item-inner {}
}

.rotate-slide-item.active {
    background: linear-gradient(180deg, #DAF445 0%, #D7F547 29.17%, #B5F661 52.08%, #65FDAD 100%);
    box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
    align-items: flex-start;
    justify-content: center;
    display: flex;
    padding-top: 10px;
    .rotate-slide-item-inner {}
}

.rotate-slide-item.five {
    clip-path: polygon(0% 100%, 237% 0%, 39% 8%);
    top: 0px;
    left: 184px;
    .rotate-slide-item-inner {
        transform: translateX(15px);
    }
}

.rotate-slide-item.six {
    clip-path: polygon(100% 100%, -134% 0%, 61% 8%);
    top: 0px;
    left: 0;
    .rotate-slide-item-inner {
        transform: translateX(-15px);
    }
}

.rotate-slide-item.seven {
    clip-path: polygon(53% 121%, 0% 39%, 92% 0%);
    bottom: 0px;
    left: 12px;
    .rotate-slide-item-inner {
        transform: translateX(-30px);
    }
}

.rotate-slide-item.eight {
    clip-path: polygon(206% 81%, 47% 98%, 8% 0%);
    bottom: 0px;
    right: 15px;
    .rotate-slide-item-inner {
        transform: translateX(30px);
    }
}

.rotate-slide-item-inner {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column;
    span {
        background-image: url("/assets/images/blackjack-bet-circle.svg");
        width: 47px;
        height: 47px;
        display: flex;
        background-repeat: no-repeat;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Rubik';
        font-weight: 500;
        font-size: 10px;
        line-height: 10px;
    }
}

.bet-arrows {
    position: absolute;
    top: 0;
    width: 45px;
    height: 52px;
    z-index: 9;
    cursor: pointer;
}

.bet-arrow-left {
    left: 0;
    background-image: url("/assets/images/blackjack-left-arrow.svg");
    transform: rotate(-320deg);
    @media (max-width: 575px) {
        left: 10px;
    }
}

.bet-arrow-right {
    right: 0;
    background-image: url("/assets/images/blackjack-right-arrow.svg");
    transform: rotate(320deg);
    @media (max-width: 575px) {
        right: 10px;
    }
}

.active-bet {
    background-image: url("/assets/images/active-bet-circle.svg");
    width: 67px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Rubik";
    font-weight: bold;
    font-size: 12px;
    line-height: 10px;
    color: #DAF445;
}